[2011-12-15 20:52] ralphbean opened #1 "close tasks when tickets get closed"
bugwarrior can add new tasks, but it can't close them yet

[2011-12-15 21:21] ralphbean opened #3 "sync pull requests too"
Right now, bugwarrior only pulls in "issues".   It should probably pull in 'pull requests' by default, too.

[2011-12-15 23:27] ralphbean opened #4 "Testing with taskwarrior 2.0"
Right now, bugwarrior has only been tested with taskwarrior 1.9.4.

If someone can do some testing, that would be great.

Odds are it doesn't work.  Patches would be wonderful as well.

[2011-12-16 20:57] ralphbean opened #5 "test"
test

[2011-12-16 21:36] ralphbean opened #6 "test again"
test again!

[2011-12-16 21:39] #6 closed, assigned to nobody

[2011-12-16 21:43] #1 closed, assigned to nobody

[2011-12-17 13:56] #3 closed, assigned to nobody

[2011-12-18 19:27] monofox opened #7 "Problems with german umlauts / special chars"
If there are some special chars like german umlauts in the summary of trac tickets, than the things can not be
saved in file:

[code]

[2011-12-19 14:47] ralphbean opened #9 "Test with an umlaut -- ö"
Will it blend?

[2011-12-19 16:14] #9 closed, assigned to nobody

[2011-12-19 16:15] #7 closed, assigned to nobody

[2011-12-19 17:49] monofox opened #10 "Unrecognized taskwarrior file format after sync"
After i've run bugwarrior-pull, Taskwarrior could not understand the file pending.data:
    [task list]
    Unrecognized taskwarrior file format. in /home/mono/.task/pending.data at line 1

The data bugwarrior fetched: http://paste.pocoo.org/show/523137/
Here you can see my pending.data: http://paste.pocoo.org/show/523139/

So you can better read it, i had upload it to pocoo.

Best Regards,
Lukas

[2011-12-19 18:41] #10 closed, assigned to nobody

[2011-12-19 19:08] #4 closed, assigned to nobody

[2012-01-01 16:57] parmegv opened #11 "Showing nothing new"
I try to import my issues but it does not work.

It says "Working on [***]" and lasts a bit, but when I do 'task list" it shows nothing new.

[2012-01-02 19:18] ralphbean opened #12 "Configurable verbosity"
We should add more print statements, add a configurable verbosity level to the .rc file, and use a nice logging tool (like `twiggy` maybe).

[2012-01-02 23:19] ulisesrmzroche opened #13 "Integration with Pivotal Tracker"
Is this something that sounds reasonable? I haven't used Pivotal or Taskwarrior enough to know if this would work, but it would be awesome if it could.

[2012-01-03 16:59] ralphbean opened #14 "Use 'requests' not urllib2"
I've been convinced.

[2012-01-03 19:36] #12 closed, assigned to nobody

[2012-01-03 19:44] #14 closed, assigned to nobody

[2012-01-05 20:06] ralphbean opened #15 "slashes in urls are oddly escaped (sometimes)"
Sometimes the slashes in my URLs get escaped when read from the taskwarrior db which results is every task being 'completed' and then added again.

[2012-01-05 20:14] #5 closed, assigned to nobody

[2012-01-05 20:37] #15 closed, assigned to nobody

[2012-01-21 17:18] ralphbean opened #16 "Fix the readme"
formatting is broken on github for the config file

[2012-01-21 17:18] ralphbean opened #17 "Some issues are getting closed when they shouldn't"
Need to bisect and find out when this got introduced.

[2012-01-21 17:34] #16 closed, assigned to nobody

[2012-01-23 05:18] #17 closed, assigned to nobody

[2012-01-23 05:21] ralphbean opened #18 "Having issues with `trac` of late."
No messages to report here, but its not quite working.  Should be looked into.

[2012-01-23 23:17] ralphbean opened #19 "Make sure bugwarrior works with dependencies"
As described here http://www.youtube.com/watch?v=ZuiSbMS0_5g&feature=related

[2012-01-27 23:06] #18 closed, assigned to nobody

[2012-01-31 03:32] ralphbean opened #20 "Show comments on issues as taskwarrior annotations"
It would be awesome if comments could be pulled from github, bitbucket, and trac tickets and have them listed as annotations on tasks.

[2012-02-06 04:01] #19 closed, assigned to nobody

[2012-02-09 02:32] #11 closed, assigned to nobody

[2012-03-03 15:42] ralphbean opened #21 "Github accounts with multiple pages of repos get issues dropped"
We need to manually step through the pages.

[2012-03-03 15:47] #21 closed, assigned to nobody

[2012-03-19 02:36] djp opened #22 "Redmine support"
the developers of Taskwarrior.org use Redmine, and having bugwarrior support redmine means the devs could eat their own dogfood, if you know what I mean.

[2012-04-05 13:45] docwhat opened #23 "Bugzilla support"
We use bugzilla at work (it requires logging in via Basic Auth).  It would be handy if you could query that as well.

If you need help figuring out how to query it, just ask.

[2012-04-05 13:51] docwhat opened #24 "Duplicate tasks"
I only have the github connection and I'm getting duplicate tasks:

[code]

Here's my `.bugwarriorrc` file:

[code]

[2012-04-05 15:59] ralphbean opened #25 "Port to Python3"
Use python-modernize and 'six'

[2012-04-05 19:08] #24 closed, assigned to nobody

[2012-04-30 21:15] #23 closed, assigned to nobody

[2012-05-11 14:27] #20 closed, assigned to nobody

[2012-05-11 14:28] ralphbean opened #26 "trac comments as annotations"
github and bitbucket works.  We should have trac now.

[2012-05-11 14:28] ralphbean opened #27 "bugzilla comments as annotations"
bitbucket and github work as of 0.4.1, we should have bugzilla too.

[2012-06-14 01:21] ralphbean opened #28 "Port to github3. github2 EOL'd on me."
https://github.com/sigmavirus24/github3.py looks good.

[2012-06-14 01:33] ralphbean opened #29 "Support 'only_if_assigned' for github"
It works now, and would be awesome.  :)

[2012-06-22 14:13] #28 closed, assigned to nobody

[2012-06-23 01:33] #13 closed, assigned to nobody

[2012-08-25 04:01] ralphbean opened #30 "if_assigned needs an if_reported equivalent"
especially for trac (I report lots of things to the sysadmins on my team and want to track those tickets in bugwarrior).

[2012-08-25 04:39] #26 closed, assigned to nobody

[2012-08-27 19:04] greenrd opened #31 "github import tracebacks"
[code]

[2012-08-27 20:52] #31 closed, assigned to nobody

[2012-12-10 12:50] tychoish opened #32 "jira support"

[2012-12-12 03:12] #22 closed, assigned to nobody

[2012-12-31 23:52] NovaRemitly opened #35 "Pulling from Bitbucket barfs with a 403 Forbidden error"
I get this when I try and pull issues from my Bitbucket repos:

[code]

I did some logging and it seems to get issues from the first repo okay, but fails on the second one. Maybe Bitbucket is rate-limiting it?

Here's my bitbucket config in .bugwarriorrc:

[code]

[2013-01-03 17:23] #27 closed, assigned to nobody

[2013-01-03 17:27] #35 closed, assigned to nobody

[2013-01-06 14:27] #32 closed, assigned to nobody

[2013-01-08 05:57] carmackjia opened #38 "support for trello"
Trello is a collaboration tool that organizes projects into boards. In one glance, Trello tells you what's being worked on, who's working on what, and where something is in a process.  -- from trello.com

as trello provides a simple RESTful web API for a banch of its resource, add support for trello can be not too hard.

[2013-01-09 14:18] ralphbean opened #39 "Documentation for developers"
@tychoish says:

'the thing that will probably help the most for a "how to write a bugwarrior service" is some sort of schema for the dict returned by the issues method on IssueServices Subclasses.'

[2013-01-22 17:45] kostajh opened #40 "No output when running `bugwarrior-pull`"
Hello,

After installing bugwarrior on Mac OS 10.8 using pip (I also tried easy_install subsequently), I don't see any output when running `bugwarrior-pull`.

I've tried:
- deleting the .bugwarriorrc file (to see if I can get an error)
- setting the log file to different locations using bugwarriorrc
- installing bugwarrior with sudo pip / easy_install

Any ideas on how to debug?

[2013-01-22 18:20] #40 closed, assigned to nobody

[2013-01-24 19:34] kostajh opened #42 "Map priority, due date from ActiveCollab tickets/tasks"
This is a follow-up to #41.

[2013-01-26 06:04] ralphbean opened #43 "Speed up bugwarrior with multiple threads"
We could potentially speed up bugwarrior by querying each service in a different thread.  This would open the door for more frequent cron runs and running "at the push of a button"

[2013-01-30 08:56] ubuntudroid opened #45 "bugwarrior-pull not recognized as command"
Running OS X Mountain Lion I installed bugwarrior using pip. Worked without any issues. However, when issuing "bugwarrior-pull" on my terminal I get "command not found". Am I missing something?

[2013-01-31 12:26] #45 closed, assigned to nobody

[2013-01-31 13:20] ubuntudroid opened #46 "Jira: session() takes no arguments (2 given)"
When running bugwarrior-pull with Jira I get the following error message:

[code]

A quick look at the dependencies by the jira package told me, that it needs `requests>=0.13.6` while 1.1.0 seems to be current and much has changed since then, amongst other the things the `session()` method which indeed now takes no parameters. Unfortunately I've just started with Python development and never used

[2013-01-31 19:58] #46 closed, assigned to nobody

[2013-02-10 18:32] ralphbean opened #48 "Package for Fedora"
This should really be available as "yum install bugwarrior"

[2013-02-11 15:06] #43 closed, assigned to nobody

[2013-02-11 15:07] #42 closed, assigned to nobody

[2013-02-20 19:30] kostajh opened #51 "Use User Defined Attributes (UDAs) for tracking external reference and for tracking BW-managed tasks"
When I use bugwarrior to track issues in a Github repository, I get tasks added with the prefix of "(bw)", and the URL pointing to the github issue is added as an annotation.

This works ok, but what do you think about using User Defined Attributes for this instead? That would make the output of `task list` a bit cleaner as you wouldn't have (bw) and the external URL immediately visible.

Bugwarri

[2013-02-20 19:40] kostajh opened #52 "Re-assigned issue does not get added to task list"
I've come across the following issue.
1. Add an issue, in Github for example, and assign it to yourself.
2. Run bugwarrior-pull, the issue shows up in your local task database
3. The issue gets worked on, then assigned to another user.
4. Run bugwarrior-pull, the issue is marked as completed locally since it's no longer assigned to you.
5. The issue gets reassigned to you.
6. Run bugwarrior-pull.

[2013-02-21 03:26] lmacken opened #53 "Bugzilla service is busted"
[code]

[2013-02-25 16:16] kostajh opened #55 "Notifications"
It would be useful to get a notification when bugwarrior has added new tasks or completed existing ones.

On Mac OS X, this can be done using Notification Center, via [Terminal Notifier](https://github.com/alloy/terminal-notifier).

There could be a setting in bugwarriorrc to switch this on for users who'd like to use the feature.

I'll submit a patch soon.

[2013-02-28 00:56] #53 closed, assigned to nobody

[2013-03-01 18:49] #55 closed, assigned to nobody

[2013-03-01 22:08] ralphbean opened #61 "Notifications under cronjob in linux"
When run as a cronjob, the notifications fail under linux.

It looks like dbus and/or pynotify don't have permissions to send notifications from there.

This could potentially be an selinux thing?  I just don't have time to look at it right now.

[2013-03-03 16:40] linuxcaffe opened #62 "expand redmine example using taskwarrior.org"
It would be helpful if the redmine example were more detailed. Why not use an anonymous pull of taskwarrior issues as an example in the rc?

[2013-03-04 00:45] #61 closed, assigned to nobody

[2013-03-27 19:52] blurmonk opened #63 "pip install does not work (python3)"
Hi

I am trying to install this under python3 but it does not work. I am not sure if it is supported

[code]

Downloading/unpacking twiggy (from bugwarrior)
  Downloading Twiggy-0.4.5.tar.gz (55kB): 55kB downloaded
  Running setup.py egg_info for package twiggy

Downloading/unpacking bitlyapi (from bugwarrior)
  Downloading bitlyapi-0.1.1.tar.gz
  Running setup.py egg_info for package bitlyapi

Do

[2013-04-02 12:55] kostajh opened #64 "Consider option to not use taskw"
For the reasons stated in Taskwarrior's [3rd-Party Application Guidelines](http://taskwarrior.org/projects/taskwarrior/wiki/3rd-Party_Application_Guidelines), I think it would be good to either give users a choice about utilizing [`taskw`](https://github.com/ralphbean/taskw), or remove the dependency on `taskw` altogether.

@ralphbean I know you must have put a lot of work into `taskw` and I am ap

[2013-05-14 21:05] #52 closed, assigned to nobody

[2013-05-20 17:06] #29 closed, assigned to nobody

[2013-05-22 04:04] #64 closed, assigned to nobody

[2013-05-22 14:39] techstep opened #70 "requests version conflict"
When I install bugwarrior on my Ubuntu 12.10 machine running Python 2.7.3, I see this when it installs the `requests` module as part of the setup:

[code]

I did not think much of it. When I configure and run `bugwarrior-pull`, I get a stacktrace and the following error:

`pkg_resources.VersionConflict: (requests 0.14.2 (/usr/local/lib/python2.7/dist-packages/requests-0.14.2-py2.7.egg), Requiremen

[2013-05-23 14:20] #70 closed, assigned to nobody

[2013-06-06 16:26] dtgay opened #72 "Implement issue filtering by repo"
Currently, users can filter issues by user/organization and whether the issue is assigned to them. It would be incredibly helpful and awesome if users could also filter by a list of repo names.

For instance, I want to see issues from a the projects I'm concerned with in the fedora-infra organization. I don't want the issues from all projects, and I certainly don't want to manually assign myself t

[2013-06-17 15:19] #72 closed, assigned to nobody

[2013-07-24 02:11] dacresni opened #77 "use github rest/json api"
github has a REST API and many libraries that support it. would you prefer higher level or lower level. Is having a small code footprint a design goal, i can look through them if you tell me what you want. I noticed that this project wasn't using OAuth so i inspected and found it wasn't using the more recent github api  http://developer.github.com/v3/libraries/

[2013-07-29 15:48] #77 closed, assigned to nobody

[2013-08-23 10:51] matthiasbeyer opened #78 "pkg_resources.DistributionNotFound: python-bugzilla"
I'm not into python, so maybe this is just my fault...

[code]

after installing
- python-setuptools
- ipython
- ipython2

installed via python2-pip.

OS: Arch Linux
Python: 3.3.2

If you need some more information, let me know!

[2013-09-20 20:27] visibilityspots opened #79 "github import fails"
Hi,

Trying to get my issues (username: visibilityspots) into taskwarrior setup with your bugwarrior script is failing:

2013-09-20T20:26:13Z:WARNING:config:URLs will not be shortened with bit.ly
2013-09-20T20:26:13Z:WARNING:config:URLs will not be shortened with bit.ly
2013-09-20T20:26:13Z:INFO:bugwarrior:Starting to aggregate remote issues.
2013-09-20T20:26:13Z:INFO:github:Working on [github]
20

[2013-09-24 12:44] #79 closed, assigned to nobody

[2013-10-31 20:58] teranex opened #80 "Option to add link as annotation"
Would it be possible to add a configuration option to add the links to the original bugs as an annotation instead of part of the description? This would:
- Keep the description cleaner (personal opinion ofcourse)
- make the tasks compatible with taskopen (https://github.com/ValiValpas/taskopen), making it possible to open the original bug in your browser simply by running `taskopen <id>`.

[2013-10-31 21:11] teranex opened #81 "Default tags for each service"
Would it be possible to add a `default_tags` configuration option for each service, similar to the `default_priority` config? This would allow for example to configure issues from github to always get the `+bug +github` tags, while redmine could get `+bug +redmine`

[2013-11-02 16:48] jenisys opened #82 "Ask for missing password or use keyring"
Storing passwords in plain text in a configuration file should not be done because of security reasons. It would be better to:
1. Ask for a missing or empty password when needed (interactive mode)
2. Use a keyring to access the password.

Maybe something like "password = @action:ask_password" or "… @action:use_keyring" will also be needed to select the password retrieval strategy.

Another solutio

[2013-11-11 15:09] teranex opened #85 "Github: only_if_assigned doesn't work"
When I add a 'only_if_assigned = teranex' option to my github configuration and run bugwarrior, all tasks for github issues are marked as 'Completed'.

Looking at the code and the github API documentation I think the problem is that the github service returns the following as the assignee:

[code]

But looking at the API (http://developer.github.com/v3/issues/) the 'assignee' key contains another

[2013-11-11 18:39] schmitmd opened #86 "Bugzilla 400 Bad Request"
# UPDATE: fixed xmlrpc parse issue for bugzilla v.4.4.1, still working with python2.7, url: localserver.com/bugzilla  --bugwarrior v0.6.3

New behavior!

bugwarrior-pull

TRACE Traceback (most recent call last):
TRACE   File "/usr/local/lib/python2.7/dist-packages/bugwarrior/services/**init**.py", line 197, in _aggregate_issues
TRACE     service = SERVICES[conf.get(target, 'service')](conf, target

[2013-11-11 21:10] #85 closed, assigned to nobody

[2013-11-15 18:09] umonkey opened #87 "Support for Fossil SCM"
Here's a Fossil SCM scraper.

http://code.umonkey.net/bugwarrior/raw-file/default/bugwarrior/services/fossil.py

I'm using it with version 0.5.3.  I can't test it with the latest code currently because of some local dependency issues.

[2014-02-14 17:14] do3cc opened #92 "Keyring, missing handling for mistyped password"
Steps to reproduce:
1. Configure bugwarrior to use the oracle for passwords
2. Start bugwarrior in interactive mode.
3. Enter a wrong password (I did so with bitbucket)

Now there is no way, bugwarrior will run successfully.
When installing bugwarrior in a virtualenv, there is also a keyring tool. To see and modify an entry, one needs to know the name of the entry and the username. The username is

[2014-02-17 15:07] #82 closed, assigned to nobody

[2014-02-26 01:24] #62 closed, assigned to nobody

[2014-03-05 18:07] #48 closed, assigned to nobody

[2014-03-06 17:13] #51 closed, assigned to nobody

[2014-03-07 17:03] #81 closed, assigned to nobody

[2014-03-07 17:04] #63 closed, assigned to nobody

[2014-03-10 19:02] kostajh opened #97 "Set up Travis CI"
Now that there are tests, we should probably set up Travis to run them.

[2014-03-10 19:51] kostajh opened #98 "Detecting changes in tasks"
I'm seeing a lot of messages like this in the output of `bugwarrior-pull`:

[code]

As a result, all of the tasks created by bugwarrior are marked as updated each time `bugwarrior-pull` runs.

[2014-03-11 16:40] kostajh opened #100 "Lock task files while importing"
If I do the following:
1. run `bugwarrior-pull`
2. while `taskw` is running CRUD operations for a service
3. Run `task list` or even `git status` (my `.task` dir is in version control)
I get a `Taskwarrior unrecognized format at line 1 of completed.data` error.
Is anyone else seeing this problem?

[2014-03-11 18:32] #97 closed, assigned to nobody

[2014-03-17 13:28] #100 closed, assigned to nobody

[2014-03-18 02:14] linuxcaffe opened #107 "use bug.taskwarrior.org as jira example"
Under Configuring, in the README.rst, why not use bug.taskwarrior.org as an example of a jira config? Having the full, current taskwarrior issues list, as a local data file, might even provide some dog-fooding opportunities, if you know what I mean ;-)

[2014-03-21 21:07] #78 closed, assigned to nobody

[2014-04-03 17:27] kostajh opened #110 "Remove HTML from incoming data"
For the ActiveCollab service, I'd like to remove HTML from the body field. I imagine this would be useful for other services.

A while back I had implemented this in b152c3eba. I'm just wondering if (1) this should be generalized so other services can use it, if so (2) should there be a configurable option for removing HTML and what would that look like, and (3) is there a better python lib for do

[2014-04-04 19:06] #86 closed, assigned to nobody

[2014-04-08 21:27] ralphbean opened #112 "Introduce a lockfile..."
..so that multiple procs don't stomp on each other.

Keep it in taskwarrior's `data.location` directory.

[2014-04-09 13:42] #112 closed, assigned to coddingtonbear

[2014-04-09 15:20] kostajh opened #117 "Can't compare offset-naive and offset-aware datetimes"
With latest `develop` code (`f3166d378f4`), getting this error:

[code]

[2014-04-22 19:26] kostajh opened #123 "Bugwarrior doesn't need to compare `depends` field"
At least I don't think so. If I have a task pulled in from `bugwarrior` and then I run `task {bugwarrior_tracked_task} mod wait:3days`, then run `bugwarrior-pull` again, I see output like:

`DEBUG:db:2bc6c891-90b2-4984-8646-db4dd4003f6e:depends has changed from (<type 'NoneType'>)'None' to (<type 'unicode'>)'a721ea84-d638-4f50-846b-6665110841b9'`

I don't think that Bugwarrior needs to check if th

[2014-05-01 16:29] ralphbean opened #125 "Broken active collab test"
@kostajh, can you have a look at `tests.test_activecollab.TestActiveCollabIssue`?  It is failing as of pull request #124.

[2014-05-09 01:35] #39 closed, assigned to nobody

[2014-05-12 23:39] akshaysth opened #129 "Bitbucket plugin update to use api v2.0"

[2014-05-13 00:40] akshaysth opened #130 "clarification between .login and .username"
update to the docs on the differences and the necessity of the above

[2014-05-14 14:33] kostajh opened #131 "Delete tags before adding new ones"
Currently I'm mapping issue labels in the activeCollab service as Taskwarrior tags. Let's say an activeCollab issue comes in with the label `ON_HOLD`. Bugwarrior creates a TW task with this tag. Then the activeCollab issue gets changed to `IN_PROGRESS`. On the next `bugwarrior-pull` we now have a task with `ON_HOLD` and `IN_PROGRESS` tags assigned.

What do you all think about having Bugwarrior de

[2014-05-15 14:24] #123 closed, assigned to nobody

[2014-05-15 15:30] #125 closed, assigned to nobody

[2014-05-15 15:36] #98 closed, assigned to nobody

[2014-05-15 15:37] #117 closed, assigned to nobody

[2014-05-15 17:30] #110 closed, assigned to nobody

[2014-06-25 11:00] nikolavp opened #132 "The jira(and maybe other adaptors) should state their dependencies"
I just installed bugwarrior on a new machine and was surprised with the message
[code]

while it was trying to initialize the configuration file.

I had to install(looked at the code)
[code]
to be able to use the jira integration. I am not familiar with the discovery mechanism of the services but can you at least provide a message which tells the user what to install instead of saying that this is

[2014-07-16 04:22] #107 closed, assigned to nobody

[2014-08-09 10:45] techdragon opened #135 "Bidirectionality"
It would be extremely awesome if this tool could have a 'bugwarrior-push' that let you push out local updates to keep other people you may be working on in sync, at the moment, it appears to be import only. So either a documentation update is needed explaining that it can sync both ways, or this is a feature request.

[2014-08-14 15:46] #80 closed, assigned to nobody

[2014-08-14 22:25] jamur2 opened #136 "Bugwarrior with taskwarrior sync"
I'm not sure if this is a bugwarrior bug, a taskw bug, or a bug in task itself, but any modifications to tasks done by a bugwarrior-pull do not sync back to the task server (at least, for me).  New issues created by bugwarrior-pull sync to taskserver just fine, but new annotations or task completion events do not.

Eg.,

[code]

Note that it pulled in a new annotation, but running `task sync` didn

[2014-08-19 05:39] #136 closed, assigned to coddingtonbear

[2014-09-12 13:07] kostajh opened #141 "Exclude repos for GitHub service does not seem to work"
In my `.bugwarriorc` I have:

`github.exclude_repos = subDrush,LibTask,task-git,sublime-taskwarrior`

But issues for these repos are added when I run `bugwarrior-pull`.

Is anyone using the `exclude_repos` option successfully?

[2014-09-19 02:10] kalikaneko opened #144 "annotation_links is ignored"
using redmine sources, the annotation_links = False is ignored
(ie, all the issues pulled get the link included in the annotation).

[2014-09-19 02:11] kalikaneko opened #145 "add_tags is ignored"
using redmine service, the pulled issues do not get the tag added.

[2014-09-19 13:45] #92 closed, assigned to nobody

[2014-09-21 00:52] kalikaneko opened #146 "no module named taskw"
When running bugwarrior 1.0.0 from the develop branch (at 3fa6a62), and running bugwarrior-pull, I get an error complaining about the missing taskw:

[code]

I see taskw dependency commented out in setup.py

[2014-09-21 00:52] #145 closed, assigned to nobody

[2014-09-21 00:52] #144 closed, assigned to nobody

[2014-09-21 00:56] kalikaneko opened #147 "cannot find configuration.rst"
Running from within a virtualenv, 1.0.0 (3fa6a62), and launching bugwarrior-pull, I get the following error complaining about a missing file:

[code]

The docs are correctly added in the MANIFEST.in, and I see them in EGG_INFO/sources.txt.
Hoewer they're not installed in the source folder.

[code]

[2014-09-21 02:15] #130 closed, assigned to nobody

[2014-09-22 13:35] #146 closed, assigned to nobody

[2014-09-22 14:12] #147 closed, assigned to nobody

[2014-09-24 16:07] ralphbean opened #148 "need a dry run mode"
so that people can see what bugwarrior will do without it actually doing anything.

[2014-09-25 03:02] coddingtonbear opened #149 "Add support for VersionOne Tasks/Stories"
BTW, @ralphbean; this (obviously) isn't an action item for you; I've already started work on this.

[2014-09-30 00:51] #149 closed, assigned to coddingtonbear

[2014-10-03 15:08] lmacken opened #151 "Unchanged task gets updated every run"
Every time I run bugwarrior, even if there are no updates, this message pops up:
[code]

[2014-11-18 08:03] xemexys opened #154 "Using bugwarrior with redmine 2.5.3 - unhashable type: 'dict'"
Hello,

I'm trying to use bugwarrior to get my task list updated from my redmine.
I did install it using easy_install. The version is master HEAD.
I did configure the bugwarrior rc with the different parameters as explained here: http://bugwarrior.readthedocs.org/en/latest/services/redmine.html

[redmine]
service = redmine
redmine.url = my_url
redmine.key = redmine_api_key
redmine.user_id = my_id

[2014-11-20 15:07] #154 closed, assigned to coddingtonbear

[2014-11-25 04:03] djmitche opened #156 "Bugzilla sync: allow *either* cc'd, reported, or assigned"
I'm cc'd on thousands of bugs, but unless I'm assigned, I'm generally not required to do anything about them.  Still, that makes the bugzilla service not that useful to me.

[2014-11-25 04:03] djmitche opened #157 "Bugzilla: include bug number as a UDA"
The docs list only the URL and Summary, but the bug number would be helpful in description_template, too.

[2014-11-25 04:06] djmitche opened #158 "Trac: don't assume HTTPS"
The documentation for the Trac service lists the "uri" without a scheme.  It turns out that this is mandatory (and in fact means it's not a URI), as the code then prepends https:// along with the username and password.

I know it's not smart in this day and age, but I have a Trac instance that doesn't support HTTPS, so it'd be really useful to have that be optional.  It seems the most logical choi

[2014-11-25 04:24] djmitche opened #159 "GitHub: add {{githubrepo}} as a UDA"
This would be useful in templates where the same service is monitoring multiple GitHub repositories.

[2014-11-25 15:29] djmitche opened #160 "Bugzilla: allow synchronizing from a saved search"
Those of us with scads of bugs we're involved in probably have some very particular requirements for which bugs get synchronized into TaskWarrior.  Rather than try to expose the knobs for that, the Bugzilla service can be given a saved search name, and just run that search.  This may even subsume #156

[2014-11-25 17:34] #157 closed, assigned to nobody

[2014-11-25 17:34] #158 closed, assigned to nobody

[2014-11-25 17:34] #159 closed, assigned to nobody

[2014-11-25 17:35] #156 closed, assigned to nobody

[2014-12-06 20:06] #148 closed, assigned to nobody

[2014-12-11 16:17] djmitche opened #171 "Option to disable syncing annotations"
It's cool that bugwarrior can sync bug comments into annotations, but sometimes it's not useful.

It'd be great to have a per-service option to turn this off.

[2014-12-11 21:19] #160 closed, assigned to nobody

[2014-12-24 20:57] djmitche opened #174 "Github service matches URLs with prefixes"
ERROR:db:Multiple matches: Issue (mozilla/build-relengapi #10) Replace production-masters.json, production-branches.json matched multiple IDs: set([UUID('bb50f2ac-6ccf-4bcb-bf20-a712fc27915e'), UUID('bae984e9-8f8e-4986-98f4-f397676ef7f4'), UUID('6c4f022a-1095-4916-afb0-6cadbd92ccd4')])

and sure enough:

[code]

[2014-12-24 21:14] #174 closed, assigned to nobody

[2015-01-05 10:32] vlabakje opened #176 "adding tasks breaks against task-2.4.0-beta3"
Hey,

I'm testing the jira connection and stumbled upon this issue:
CRITICAL:command:oh noes
TRACE Traceback (most recent call last):
TRACE   File "/usr/lib/python2.7/site-packages/bugwarrior-1.0.2-py2.7.egg/bugwarrior/command.py", line 49, in pull
TRACE     synchronize(issue_generator, config)
TRACE   File "/usr/lib/python2.7/site-packages/bugwarrior-1.0.2-py2.7.egg/bugwarrior/db.py", line 382, i

[2015-01-05 11:16] jouty opened #177 "trac not well-formed (invalid token) error"
Hi, i fall on this error when trying to pull trac tickets

CRITICAL:my_trac:Worker for [my_trac] failed: not well-formed (invalid token): line 28, column 5
TRACE Traceback (most recent call last):
TRACE   File "/usr/lib/python2.7/site-packages/bugwarrior/services/**init**.py", line 461, in _aggregate_issues
TRACE     for issue in service.issues():
TRACE   File "/usr/lib/python2.7/site-packages/bug

[2015-01-05 14:40] ralphbean commented on #176
Ah, this is the problem.  We're just not ready for task-2.4.0 yet but are working actively on getting there.  Either use task-2.3.x for now or wait a few weeks until we have a fix for taskw and bugwarrior out.  Thanks!

[2015-01-05 14:41] ralphbean commented on #177
First question, what version of the ``task`` cli do you have installed?

[2015-01-05 16:26] ralphbean commented on #176
FWIW, the latest blocker in porting stuff to task-2.4 is now a new bug in the cli tool:  https://bug.tasktools.org/browse/TW-1498

[2015-01-06 10:12] jouty commented on #177
hi,

python-taskw-0.8.6-1.fc21.noarch
task-2.3.0-2.fc21.x86_64
============================
Trac 	0.12.1
TracXMLRPC 	1.1.2

[2015-01-06 11:54] ralphbean commented on #177
Hm, that all looks good.

It looks like a bug either in the way your trac instance is set up, or in the ``python-offtrac`` module that ``taskw`` uses to talk to your instance, although I can't be sure without trying to mess around with it directly.

- Do you have any other tools that interface with your xmlrpc plugin there?  Do they work?
- Can you mess around with offtrac directly in a python she

[2015-01-06 18:27] jouty commented on #177
With xmlrpc directly :

In [28]: server = xmlrpclib.ServerProxy("https://jouty:password@trac.mydomain.net/infra/login/xmlrpc")
In [29]: server.system.getAPIVersion()
Out[29]: [1, 1, 2]

Now with offtrac
In [61]: import sys

In [62]: import urllib
In [63]: trac = TracServer('https://jouty:mypassword@trac.mydomain.net/infra/login/xmlrpc')
In [64]: trac.get_ticket('2894')
Out[64]:
[2894,
 <DateTime '

[2015-01-06 20:13] ralphbean commented on #177
wow.  there must be something malformed about the way bugwarrior is constructing that url for ``TracServer`` but I don't see anything obvious in the bugwarrior trac service at first glance:

https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/services/trac.py#L71-L94

[2015-01-07 11:54] jouty commented on #177
i have search too but don't found

[2015-01-10 20:23] bmbove opened #181 "The expression could not be evaluated (task-2.4.0-1)"
After upgrading taskwarrior to 2.4.0-1, I receive the following when running bugwarrior-pull:

Downgrading to task-2.3.0-4 seemed to fix this. I've played around with taskwarrior, and it seems to be related to this change in e9bdb67:

    1169|     : - rhs.attribute ("raw", value);
         |1170: + rhs.attribute ("raw", "'" + value + "'");

https://github.com/taskwarrior/task/commit/e9bdb6704ffa0

[2015-01-10 20:54] bmbove commented on #181
Changing (tracurl.not:"") to (tracurl.any) also works for that particular filter.

[2015-01-11 00:20] ralphbean commented on #181
Cool - I ran into the same thing but couldn't find a workaround.. I ended up filing a bug on taskwarrior here -> https://bug.tasktools.org/browse/TW-1498

Can you submit that as a pull request?

[2015-01-11 00:21] ralphbean commented on #181
Ah, yeah.  That's the problem (now that I think about it).

Your workaround works for trac because the primary UDA trac uses is ``tracurl``, a string-type UDA.

Other backends use *numeric* UDAs, and as mentioned in TW-1498, those are still broken in task-2.4.0.

[2015-01-12 21:08] bmbove commented on #181
A pull request on here or the one for taskwarrior? The taskwarrior change I assume was purposeful for whatever rework went into 2.4.0. Just confused by the order of your comments I suppose. I only use trac, so I didn't dig deep enough to find out, but would changing that filter string in bugwarrior affect anything with a numeric UDA?

[2015-01-12 21:52] ralphbean commented on #181
Sorry to not be clear.

- Could you submit your patch on bugwarrior?
- It should get things working for services with non-numeric UDAs (like trac).  Other services with numeric UDAs will still be broken until the task-2.4.1 release comes out (ETA January 15th).

[2015-01-31 12:46] fradeve opened #186 "[JIRA] Docs are not detailed enough about queries and usernames"
While experimenting with Bugwarrior (thanks for giving us such useful tool) I noticed that the default query

    assignee = ralph and status != closed and status != resolved

will not work if the `status` in your JIRA instance is capitalized. E.g., in my case I have `Done`, `Resolved`, `Closed`, and this query has done the trick:

    jira.query = assignee = 'francesco.devirgilio' and status != C

[2015-02-01 03:20] coddingtonbear commented on #186
I think a pull request might be best; let me know, though, if you're too busy, I'm sure @ralphbean or I can find the time, if so.

[2015-02-01 12:38] fradeve commented on #186
No worries, I will create a pull request :dancer:

[2015-02-02 14:13] ralphbean commented on #186
Awesome!

[2015-02-05 10:23] fradeve commented on #186
https://github.com/ralphbean/bugwarrior/pull/187

[2015-02-06 17:29] ralphbean commented on #131
Closing this way after the fact.  :)

[2015-02-06 17:29] #131 closed

[2015-02-06 20:05] mathstuf opened #188 "Support for gitlab"
http://doc.gitlab.com/ce/api/

[2015-02-06 20:50] mathstuf opened #189 "Allow setting a different configuration file"
I use two task lists, one for personal and another for work. It would be nice to be able to have bugwarrior pull into each one separately. I can think of two ways to do this:

  - add a flag to bugwarrior to specify the configuration file (which I can alias away); or
  - allow multiple `[general]` configuration sections with separate `taskrc` values and `targets` listings.

[2015-02-06 22:45] mathstuf commented on #188
I've started to work on this.

[2015-02-07 00:49] ralphbean commented on #188
Awesome!  I can't wait :)

[2015-02-07 01:04] ralphbean commented on #189
Ah.. let's go with the first option and add a flag.  :)

[2015-02-07 02:52] #189 closed

[2015-02-07 02:54] #188 closed

[2015-02-09 14:37] fradeve commented on #186
#187 merged, think we can close this :)

[2015-02-09 16:08] #186 closed

[2015-02-09 16:50] mathstuf opened #198 "Github doesn't work with two-factor auth"
Probably need to use OAuth2 tokens.

[2015-02-09 20:20] mathstuf opened #201 "bitbucket OAuth"
Should probably use OAuth as well.

[2015-02-09 20:22] mathstuf opened #202 "Bitbucket improvements"
It would be nice to be able to give a list of usernames for github and bitbucket services rather than making a block per organization. It would also be nice to be able to pull any issue or pull request I'm involved in (watching, filed, assigned, etc.) regardless of the user.

[2015-02-10 01:42] mathstuf commented on #202
It actually appears there's no API endpoint for this stuff yet :( .

[2015-02-10 01:54] mathstuf commented on #202
I requested for GitHub by the way. Bitbucket's issue tracker is drowning in requests anyways and I have no idea what their plan is with making APIv2 actually useful, so ignoring them for now.

[2015-02-11 06:08] mathstuf commented on #87
Hmm. seems the file has disappeared but @FvD has it copied down. I see some issues with it (no `@oracle` support, not using `super`, and `urllib2` rather than `requests`), but other than those issues, I don't see why it wouldn't be accepted.

[2015-02-11 06:11] mathstuf opened #204 "Support for Mantis"
_sigh_ As much as I dislike it, seems it won't just disappear :/ . It uses SOAP which seems to have had iffy support in Python (at least historically). Happy for someone else to tackle this, but I imagine I will at some point if/when the lack of it becomes annoying enough.

[2015-02-11 06:12] mathstuf commented on #202
So this could be hacked up with github's search API, but only for issues. If we're lucky, a real API endpoint will be added.

[2015-02-11 15:31] #132 closed

[2015-02-11 20:05] ralphbean commented on #135
Respectfully, I'm going to close this feature request.

First off, bugwarrior does not do this now, so we would need to write it.  However even if written, I'd like to not maintain such code either.  I'm too much of a fraidy-cat to push changes to remote issue trackers (which are considered 'authoritative sources' in my world).  I agree it would be awesome though!  If you want to fork bugwarrior a

[2015-02-11 20:05] #135 closed

[2015-02-12 10:12] fradeve commented on #135
I agree with @techdragon and @ralphbean at the same time, was thinking about this yesterday. Plus, IMHO the point with a `bugwarrior-push` is that before modifying the source data, we have to download and collect all of the original fields, and this is not done by bugwarrior at now (at least, not for Jira). A lot of fields are missing from the original task, and we don't want to push a modified ta

[2015-02-15 18:20] ivan-cukic opened #205 "Bugzilla and TaskWarior 2.4.0: The expression could not be evaluated."
When calling bugwarrior-pull, the TaskWarrior returns an error "The expression could not be evaluated."

The problem is '( bugzillaurl.not: )' argument. It passes if prefixed with uda like this '( uda.bugzillaurl.not: )'

Here is the backtrace:

[code]

[2015-02-15 21:01] ralphbean commented on #205
Thanks Ivan!  We've been working over the weekend with the taskwarrior core devs to get everything working with taskwarrior-2.4.1, due out Any Time Now :tm:.  Can you stand by to test with that release (and the forthcoming bugwarrior one to go with it)?

[2015-02-15 22:00] ivan-cukic commented on #205
Yes, naturally :)

[2015-02-17 04:42] ralphbean commented on #176
Can you test with a fresh install of the latest bugwarrior-1.1.0 and taskwarrior-2.4.1?   Everything should be working now :pray:.

[2015-02-17 04:43] ralphbean commented on #181
OK.  task-2.4.1 is out and with it, bugwarrior-1.1.0.  This should all be working now.

[2015-02-17 04:43] #181 closed

[2015-02-17 04:44] ralphbean commented on #151
@lmacken, can you try again with the latest task-2.4.1 and bugwarrior-1.1.0 releases?  Things should be working again :pray:.

[2015-02-17 04:45] ralphbean commented on #205
OK.  task-2.4.1 is out and with it, bugwarrior-1.1.0.  Can you let us know if a fresh install of those (and the python taskw lib) fix this for you?

[2015-02-17 04:45] #198 closed

[2015-02-17 04:51] ralphbean commented on #202
Hm.  One aspect of this is that sometimes you want different config options for different github usernames/organizations.

For instance, I want *all* issues on all of my personal repos to be synced.  But, on some organization I'm a part of, perhaps I only want all the issues that are *assigned to me*.

If you listed them in the same block, I can't think of a good way to specify which options shoul

[2015-02-17 04:53] mathstuf commented on #202
The idea is that a block fetches all assigned/watched/filed issues and pull requests. Adding a blacklist based on org/user shouldn't be too bad on top of that.

[2015-02-17 09:37] ivan-cukic commented on #205
Ok, this issue is resolved.

(I'm getting another one, but I guess it is the fault of KDE's bugzilla instance, and not of bugwarrior)

[2015-02-17 09:37] #205 closed

[2015-02-20 04:05] #171 closed

[2015-02-25 01:19] lmacken opened #209 ""The expression could not be evaluated." exception with latest stack"
[code]
[code]

[2015-02-25 01:34] lmacken commented on #209
Oops, sorry that exception is from an older checkout.
With the latest modules:

[code]

[2015-02-25 15:33] kostajh opened #210 "yum install bugwarrior should install the jira python package"
Although I see it's commented out here: https://github.com/ralphbean/bugwarrior/blob/develop/setup.py

[2015-02-25 15:40] ralphbean commented on #210
Sure!  I can look into it.  IIRC, we had some version conflict between jira and python-requests but I forget the details now.

[2015-02-25 15:40] ralphbean commented on #210
FWIW, all of the yum/rpm stuff is handled here:  http://pkgs.fedoraproject.org/cgit/bugwarrior.git/tree/bugwarrior.spec

[2015-02-25 15:40] coddingtonbear commented on #210
I'm not sure that's true, @kostajh :-/

Most of the issue tracking services require third-party services that aren't installed automatically; if we install that one by default, should we also install the libraries necessary for the others?

[2015-02-25 15:43] kostajh commented on #210
I guess despite the strongly opinionated issue title, I don't have a strong feeling on this either way. I just see that trac and bugzilla are included in the `yum install` so might be nice to include all other supported services too.

[2015-02-25 15:45] ralphbean commented on #210
Heh, these are 'prejudices of the author' that weren't thought through.

[2015-02-25 16:41] ralphbean commented on #210
WHOAH!  Look at this dep tree:

[code]

[2015-02-25 16:42] ralphbean commented on #210
@kostajh ... I dunno if I want to bring all those things along for the ride for *all* bugwarrior users on Fedora.  Would you be okay if I left it optional like some of the other backends (megaplan, redmine, etc..)?

[2015-02-25 16:49] kostajh commented on #210
@ralphbean I think we just need to install the `jira` package (according to Bugwarrior docs), not `python-jira`.

[code]

[2015-02-25 16:49] #210 closed

[2015-02-25 17:45] lmacken commented on #209
This issue has been resolved in `bugwarrior-1.1.3` (b973e925bdda8da35b5090ff82212ba4a3a8190c)

Thanks @ralphbean ! Have a doughnut :doughnut: @ChangeTip

[2015-02-25 17:45] #209 closed

[2015-02-25 17:45] changetip commented on #209
Hi @ralphbean, @lmacken sent you a Bitcoin tip worth a doughnut (1,465 bits/$0.35), and I'm here to deliver it ➔ **[collect your tip](https://www.changetip.com/collect/533396)**.

**[Learn more about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-02-25 18:05] ralphbean commented on #209
:cop:

[2015-02-25 20:00] mekanix commented on #176
I've installed from git and bugwarrior does the job of syncing but it errors on (un)locked file:
[code]

[2015-02-25 20:14] ralphbean commented on #176
That's... surprising.  Can you remove that file and try again?

Also, what platform are you on?  Linux?  Mac?

[2015-02-27 08:08] Crawleyprint opened #211 "Can't connect with Jira on Atlassian cloud"
I've tried to connect to Jira instance on atlassian's service (https://org-name.atlassian.net) and it keeps throwing me 'unauthorized' error. I've noticed that they have Jira 6.4 and there is only mention fo Jira 4 and 5 in the docs. Is Jira 6 supported or it has something to do with atlassian cloud login?

One other thought is that I've added wrong base uri, here is the format, can anyone confirm

[2015-02-27 13:54] ralphbean commented on #211
@ubuntudroid @nikolavp @coddingtonbear, can any of you comment on this?

[2015-02-27 19:17] ubuntudroid commented on #211
@Crawleyprint Try adding

```jira.verify_ssl = False```

to your jira configuration.

[2015-02-27 20:12] mekanix commented on #176
Sorry for disturbing, it was [Mirakel](https://github.com/MirakelX/mirakel-android) sending gibberish. I think it's 2.3 vs 2.4 "thingie". In [your comment](https://github.com/ralphbean/bugwarrior/issues/176#issuecomment-74616422) you said you solved something similar. Can you point to pull request or the files or whatever you did to become taskwarrior 2.4 ready? I'd like to try to fix it for Mirak

[2015-02-27 21:02] ralphbean commented on #176
@mekanix it was mostly here in ralphbean/taskw#68.

I'm going to close this since I think the original issue reported by @vlabakje was resolved.

[2015-02-27 21:02] #176 closed

[2015-03-02 06:26] Crawleyprint commented on #211
@ubuntudroid  I've tried both with and without, still says it's unauthorized

[2015-03-02 06:28] Crawleyprint commented on #211
it's Jira v6, I have to stress that once more.

[2015-03-02 09:25] fradeve commented on #211
Hi @Crawleyprint, please take a look to #186. I'm using 1.0.2 with JIRA 6 and it is working fine.

[2015-03-02 09:30] GaretJax opened #212 "Pulling JIRA tasks logs out the web user"
When pulling the tasks from JIRA (a cloud instance, in my case), the web user session (the one I use in the browser) is logged out. I had the same issue when developing a tool for myself and discovered that it is due to the `jira` package sending cookies along with requests.

I have solved it this way: https://github.com/GaretJax/lancet/blob/f175cb2ec9a2135fb78188cf0b9f621b51d88977/lancet/jira.py#

[2015-03-02 15:53] kostajh commented on #211
@Crawleyprint I'm using this with Jira 6. Make sure your username is correct (the name that pops up when someone does an @ mention for you).

[2015-03-03 06:10] Crawleyprint commented on #211
@kostajh thanks, I was entering wrong username all the time, it's different from login name, which has an email in it (facepalm)...

[2015-03-03 06:10] #211 closed

[2015-03-03 13:02] ralphbean commented on #211
[![Problem solved!](http://img.youtube.com/vi/e3mLoFndR6M/0.jpg)](http://www.youtube.com/watch?v=e3mLoFndR6M)

[2015-03-13 10:57] mekanix opened #215 "Cryptic error if run from cron or reduced PATH"
I've tried `pip install bugwarrior` as well as install from git, the error is the same:
[code]

The error is that `task` executable can not be found. More descriptive error would be nice.

[2015-03-13 17:50] coddingtonbear commented on #215
Hey there @mekanix, that error is being raised from the underlying [taskw](https://github.com/ralphbean/taskw/issues) library; could you please file this as a request there?

[2015-03-13 17:50] #215 closed

[2015-05-20 10:54] er4z0r opened #219 "bugwarrior-pull from github closes unrelated tasks"
HI,

I just started with bugwarrior using the current devel-branch. When I run bugwarrior-pull it successfully pulls my issues from github but then closes 8 tasks that are completely unrelated to github. All theses tasks have in common is that they have URL annotations.  Here is my bugwarriorrc

[code]

And here my task diagnostics output:

[code]

how can I prevent this?

[2015-05-20 13:57] ralphbean commented on #219
Can you share some information about one or more of the tasks?  It might help to see more of what\'s in the annotations, etc.

I'll say that I'm very surprised that the legacy_matching parameter didn't make a difference.

[2015-05-20 14:09] er4z0r commented on #219
Sure thing. Here are two of the affected tasks.

[code]

[2015-06-05 21:34] djmitche opened #220 "Single issue added repeatedly with multiple github syncs"
Config snippet:

[code]

is producing:

[code]

and subsequently failing with "ERROR:db:Multiple matches".

Judging by the tags in those tasks, it looks like all three config blocks are matching this task, yet only one should (github_bits).

[2015-07-06 19:57] jasonsmith0 opened #223 "kanboard support"
Would be great if this project expanded and added support for another great open source tool - kanboard www.kanboard.net .

Nice to have for visualisation and kanban methodology while still using task to manage it.

API: http://kanboard.net/documentation/api-json-rpc

I unfortunately don't have the skills to do this.

[2015-07-06 19:58] jasonsmith0 commented on #223
Though kanban supports integration with gitlab/github so perhaps one could already get this to work.

[2015-07-06 20:04] coddingtonbear commented on #223
I know this is just a *little* tangential, but if you were mostly just looking for Kanban functionality (rather than using that specific service), you could try Inthe.AM's Trello integration.

[2015-07-06 20:20] jasonsmith0 commented on #223
Cool thanks for the tip. Maybe for someone else, but for me I like to keep data in house for privacy reasons.

[2015-07-06 20:21] jasonsmith0 commented on #223
Bug cross filed.
https://github.com/fguillot/kanboard/issues/990

[2015-08-20 00:55] harleypig opened #230 "SSL: CERTIFICATE_VERIFY_FAILED"
I get the following error when trying to run bugwarrior-pull:

[code]

If I modify the shebang line to use python2, I get the following:

[code]

[2015-08-20 01:01] harleypig commented on #230
I just uninstalled all traces of bugwarrior I could find and ran

[code]

The shebang line has python2, so I must have done something screwy initially.

However, the second error message above remains.

[2015-09-08 15:47] djmitche commented on #220
I haven't seen this repeated with any other github issue.. maybe just a weird one?  Or some kind of hash collision?

[2015-09-08 15:50] djmitche opened #238 "Support Bugzilla API keys"
python-bugzilla refers to these as [tokens](https://github.com/python-bugzilla/python-bugzilla/commit/e1af7160b3162d423fdfeb04e230067a75e9b584).  It would be nice to be able to create an API key and provide it as

[code]

[2015-09-08 15:50] ralphbean commented on #238
Agreed.  Any idea if python-bugzilla supports this yet?

[2015-09-08 15:52] djmitche commented on #238
I *think* so - see the link.  Assuming "token" and "API key" are the same (see https://github.com/python-bugzilla/python-bugzilla/issues/5)

[2015-09-10 17:37] ralphbean commented on #230
Ah, it's a self-signed certificate.  You could add it to your trust root.

Alternatively, #229 could make things easier for you.

[2015-09-10 17:37] #230 closed

[2015-09-10 19:41] harleypig commented on #230
My companies instance of gitlab automatically redirects to https by direction of higher ups. I can't change that.

I added the certificate for my gitlab and openssl showcert shows 'Verify return code: 0 (ok)' instead of 'Verify return code: 18 (self signed certificate)'

I'm on Arch so I had to find my gitlabs pem file. I copied it to it's correct location, and ran trust extract-compat. Nothing ha

[2015-09-10 19:51] coddingtonbear commented on #230
That's only a security _warning_ from a ubiquitous package used by a package we use; you can follow along on [this urllib3 issue](https://github.com/shazow/urllib3/issues/497) for more information.

[2015-09-10 20:12] harleypig commented on #230
I gathered it was only a *warning* from the *SecurityWarning* header. :] It's just annoying having my screen full of that when running bugwarrior-pull.

[2015-09-10 23:11] harleypig opened #239 "If custom description is created, description is not added as an annotation"
I have the following in my .bugwarriorrc .

[code]

The annotation_links adds {{githuburl}} as the first annotation, but I how do I add {{githubdescription}} as the second annotation? As you can see, I tried annotation_template, but that isn't working.

[2015-09-10 23:15] harleypig commented on #141
I did some experimentation and found that if I included github.{in,ex}clude_repos that these options worked as advertised, but when not including the 'github.' they did not.

[2015-09-10 23:26] coddingtonbear commented on #239
The fields you have available are described here -- http://bugwarrior.readthedocs.org/en/latest/services/github.html -- I wonder if it'll work if you try `{{githubbody}}`?

[2015-09-11 03:18] harleypig commented on #239
That's what I get for reading the gitlab doc by mistake. With `annotation_template = {{githubbody}}` I got nothing. Then I noticed that the [Taskwarrior JSON documentation](http://taskwarrior.org/docs/design/task.html#attr_annotation) for annotation has the json attribute as `annotations`.

Setting `annotations_template = {{githubbody}}` did not end well. I got a whole bunch of errors that look li

[2015-09-11 03:35] harleypig opened #240 "Using add_tags overrides labels from repo"
If `.bugwarriorrc` contains `add_tags = sometag`, for a service tags from the repository will not be imported.

[2015-09-11 13:25] ralphbean commented on #141
Thanks @harleypig!

[2015-09-11 13:25] #141 closed

[2015-09-15 16:38] thozza opened #243 "Please implement 'only_if_assigned' option for Bugzilla plugin"
Currently it is not possible to filer bugs from Bugzilla based on the assignee. The result is that also bugs not assigned to me, but reported by me are added to my tasks in taskwarrior. It would be nice to be able to filter only bugs assigned to me.

[2015-09-15 18:57] ralphbean commented on #243
Yeah, the ``get_owner`` method in the bugzilla issue service just has ``raise NotImplementedError``, so we'd need to start there and then leverage the ``.include(...)`` method somewhere in there too.

[2015-09-21 17:27] ralphbean opened #244 "Fix docs reference to include_repos"
It is inconsistent.  @jrabbit reported that he used `github.include_repos = ....` and it didn't work.  Removing the `github.` prefix seemed to fix it, but I don't think that's what the docs say.

[2015-09-26 23:40] mathstuf commented on #202
Github is fixed by #234 at least.

[2015-11-01 09:59] gdetrez opened #254 "Broken "Edit on GitHub" links on readthedocs.org"
When you click on the link, you get a 404 page on github.

I think this is due to the fact that docs/source is a symbolic link.

[2015-11-11 16:21] muxync opened #256 "Gitlab example service is missing "gitlab.host" on readthedocs.org"
To avoid this error:
[code]

Something like this should be added to https://bugwarrior.readthedocs.org/en/latest/services/gitlab.html
[code]
Where is the source for the documentation?  The link on readthedocs.org is broken as per #254.

[2015-11-11 16:55] coddingtonbear commented on #256
Good find, @muxync -- could you file a pull request adding that?

All of the documentation is generated from files in the `bugwarrior/docs` folder -- the specific example you've cited above is here: https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/docs/services/gitlab.rst.

[2015-11-11 17:02] muxync opened #257 "Allow self signed certificates for Gitlab service"
When using a self signed certificate with the Gitlab service I get the following error:
[code]

I'm using Linux Mint 17.2 Rafaela and was able to get this working by upgrading python requests
[code]

and by modifying gitlab.py as follows
[code]
This is currently not worthy of a pull request but I'm happy to submit a proper PR if this is a feature that would be merged.  Would adding a configuration

[2015-11-11 17:21] muxync commented on #256
Thanks, I can't believe I missed that!  See PR #258.

[2015-11-11 17:36] muxync opened #259 "Gitlab issues always updated even when no changes have been made"
Every time bugwarrior-pull is executed the corresponding task is updated regardless of if the issue on Gitlab was updated.  For example:
[code]
The problem can be corrected by discarding microseconds for the issue 'created' and 'updated' times.  Are microseconds necessary here?

[2015-11-11 19:03] djmitche commented on #220
Today I saw it with a [new issue](https://github.com/taskcluster/relengapi-proxy/pull/7):

[code]

Any idea what it is about these issues that causes the repetition?  I have lots of other issues and PRs in taskwarrior without any trouble.

[2015-11-12 15:03] ralphbean commented on #220
We may have already tried this before.. but do you have the following in the ``[general]`` section of your config?

[code]

[2015-11-12 15:09] djmitche commented on #220
I do, yes, on your advice around the end of September :(

[2015-11-12 16:17] ralphbean commented on #257
How about `gitlab.verify_ssl` for the option name?  `self_signed_cert` could be misleading, since people might think that we will actually verify that the self-signed-cert is in their trust root or something (which is not the case here).

I'm cool with the implementation though.  Thanks!

[2015-11-12 16:18] #256 closed

[2015-11-12 16:18] ralphbean commented on #259
Looks like this is solved in #260.  You're the best @muxync!

[2015-11-12 16:18] #259 closed

[2015-11-12 16:43] ralphbean commented on #220
Crumb.  This looks weird indeed!  If you manually all three uuids, does it get back into the same state with subsequent bugwarrior runs?

[2015-11-12 17:00] djmitche commented on #220
I assume you mean "manually delete" -- I tried that, but unfortunately I merged the PR at the same time, so no good data there.  I'll try next time.

[2015-11-12 19:49] ralphbean commented on #220
Ha, yes I did.  Typos, typos.

[2015-11-13 00:51] muxync commented on #257
Good point about ```self_signed_cert```.  Hopefully PR #261 implements ```verify_ssl``` as expected.  Thanks!

[2015-11-13 14:23] #257 closed

[2015-12-02 19:28] lmacken opened #267 "bz: KeyError: 'requestee'"
[code]

[2015-12-03 15:10] ralphbean commented on #267
I think 3106350c31b2a46b594ba19a2ad839db5965bbd6 covers this.  Will cut a release shortly.

[2015-12-03 15:11] ralphbean commented on #267
Oh, it should already be in the 1.3.0 release.

[2015-12-03 15:11] #267 closed

[2015-12-04 21:20] ersanchez opened #268 "error 500: Unrecognized taskwarrior file format"
Hi, I keep getting this error message:
`Sync failed. The Taskserver returned error: 500 Unrecognized taskwarrior file format.`
Can anyone provide steps to fix this? I can't find anything searching Google or here.
Thanks

[2015-12-04 21:32] ersanchez commented on #268
Sorry, I just read about including the results of `task diagnostics` in my request for help.

****

task 2.5.0
   Platform: Linux

Compiler
    Version: 4.9.2
       Caps: +stdc +stdc_hosted +LP64 +c8 +i32 +l64 +vp64 +time_t64
 Compliance: C++11

Build Features
      Built: Nov 14 2015 08:57:32
      CMake: 3.0.2
    libuuid: libuuid + uuid_unparse_lower
  libgnutls: 3.3.8
 Build type:

Configurat

[2015-12-04 22:06] ersanchez commented on #268
Ok, I found a work-around to restore my synchronization.

Running:
`$ task rc.debug=1 rc.debug.tls=2 sync`
as described in the **Debugging** section of [Troubleshooting Sync][ts] I noticed that there were three line items that had dependencies. By deleting these items in $HOME/.task/backlog.data I was able to get the sync to work again.
Next, I edited each of the line items to remove dependencies:

[2015-12-04 22:54] gdetrez commented on #268
@ersanchez this doesn't seem to have anything to do with bugwarrior. To get help, or report bug against taskwarrior, you can look at http://taskwarrior.org/support/.

[2015-12-05 14:23] ersanchez commented on #268
Closing the issue - mistakenly posted this in the wrong forum.

[2015-12-05 14:23] #268 closed

[2016-01-06 09:10] bexelbie opened #270 "merge_annotations = False not working"
Expected Behavior: Tasks with no annotations
Actual Behavior: Tasks with annotations

[2016-01-06 15:25] vitaminless opened #271 "add_tags don't support template filters right"
I cannot use a template like this:

[code]

This will give an error and no task will be created for the provider.

I guess the reason is that the add_tags string will be split before the template engine renders it, so tried to fix it ...

I came up with this, at least it works for me:
[bugwarrior.service.**init**.patch.txt](https://github.com/ralphbean/bugwarrior/files/79971/bugwarrior.service.__i

[2016-01-25 10:40] fifigyuri opened #272 "`No such file or directory` error for github account"
I get error when I execute `bugwarrior-pull`, I've set up one account for github:

[code]

This is the stack trace I get:

[code]

Thank you for your help.

[2016-01-25 15:03] ralphbean commented on #272
That is.. surprising.

Do you have a taskwarrior database initialized?  i.e., can you run ``task`` commands?

[2016-01-25 15:43] fifigyuri commented on #272
yes, I use taskwarrior. Just added task, can list tasks. I'm syncing it with inthe.am. can this be a problem?

[2016-01-26 09:28] fifigyuri commented on #272
I removed inthe.am task server, did not help. I have the same issue.

[2016-01-26 09:51] fifigyuri commented on #272
versions...maybe it helps. taskwarrior has version 2.5.0, bugwarrior 1.3.0. This is the content of my `~/.task`:

[code]

I created a new empty task database, but the issue remained the same.

[2016-01-26 14:14] gdetrez commented on #272
It looks like the error is SSL related:

    TRACE SSLError: [Errno 2] No such file or directory

Maybe missing or inaccessible CA certificates?

[2016-01-26 14:27] gdetrez commented on #272
@fifigyuri, can you try the following in a python shell:

[code]

and see if the returned file path exists and is readable.

[2016-01-26 21:28] ryneeverett commented on #201
I looked into implementing this, but was disappointed at what I found:

- [Bitbucket's OAuth2 implementation requires basic authentication to get a temporary token.](https://bitbucket.org/site/master/issues/11520/oauth-2-authentication-does-not-work)
- [Bitbucket's OAuth1 implementation requires browser login to get a temporary token.](https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-

[2016-01-26 21:31] ryneeverett commented on #201
For future reference though, requests_oauthlib has [a Bitbucket OAuth1 tutorial](http://requests-oauthlib.readthedocs.org/en/latest/examples/bitbucket.html).

[2016-01-26 22:29] ryneeverett commented on #201
I knew I had to be wrong about this so I kept digging. You can get [a refresh token](https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html#OAuthonBitbucketCloud-Refreshtokens):

So I guess we could prompt for a password on first usage and thereafter use the refresh token.

[2016-01-26 22:50] ryneeverett commented on #201
Bugwarrior doesn't seem to persist any data of its own currently, so I think we'd need to add a `~/.task/bugwarrior.data` file, per [the third-party guidelines](https://taskwarrior.org/docs/3rd-party.html#guidelines):

[2016-01-26 23:14] fifigyuri commented on #272
That was it! Thank you. File `/usr/local/lib/python2.7/site-packages/certifi/cacert.pem` was missing. I installed it by `pip install certifi`.

[2016-01-27 11:13] #272 closed

[2016-01-27 11:14] gfrivolt opened #278 "Github pull-request filtering did not filter the PRs out"
Based on the docs I added `github.filter_pull_requests = True` to the service group for github but it did not work.

[2016-01-28 02:56] ryneeverett opened #279 "Failure of any service causes bugwarrior-pull to fail."
This was intentional, per [this commit message](https://github.com/coddingtonbear/bugwarrior/commit/c96ef590e398756bd21ad51319bc70db3247200b):

After an hour or so of github being down (and given that github is probably the most reliable service), I'm pretty sure this isn't a desirable behavior.

[2016-02-01 14:35] djmitche commented on #220
I have a PR now which is appearing multiple times because I have multiple github syncs set up.  I suspect that's at the root of the issue.

[code]
[code]

[2016-02-01 15:14] gfrivolt opened #282 "Private github tasks are not pulled"
I've create a token with `repo`, Full control of private repositories, scope. When I access the github API using `curl` I get what I expect, the issues for the private repo I retrieved.

I used that: `curl -u fifigyuri:<token> https://api.github.com/repos/netronixgroup/environet-ui/issues`

And I've got the list of private repo's issues. But bugwarrior does not load these issues for me. This is my

[2016-02-01 15:28] ryneeverett commented on #282
Do the private repositories belong to `fifigyuri` rather than `netronixgroup`? If so I'm guessing you'd have to add it to `github.username`. Just my initial thought.

[2016-02-01 17:35] fifigyuri commented on #282
no, I login in as `fifigyuri`, the account is `netronixgroup`. I tried to switch the values or `github.username` and `github.login`, did not help

[2016-02-01 19:29] ryneeverett commented on #282
Hmm, does `curl -u fifigyuri:<token> https://api.github.com/users/netronixgroup/repos` include the private repos? Bugwarrior basically just calls that to get the list of repos and then loops over it with the curl command you already said works.

[2016-02-02 11:51] fifigyuri commented on #282
It lists the public repositories for the account. Seems like issue with the token, but I have `repo` scope set.

![edit_personal_access_token](https://cloud.githubusercontent.com/assets/98457/12748583/7d071294-c9ab-11e5-8037-7ddac2a6b73a.jpg)

[2016-02-02 14:44] fifigyuri commented on #282
I found that, bit disturbing things about github API: http://stackoverflow.com/questions/21907278/github-api-using-repo-scope-but-still-cant-see-private-repos

I tried to call `curl -u fifigyuri:<token> https://api.github.com/user/repos` and it returned me private repos.

If bugwarrior calls `GET /users/someusername/repos` for retrieving repos and should not return any private ones.

[2016-02-02 16:33] ryneeverett commented on #282
Nice, you've identified the problem. I think the solution would be to call `https://api.github.com/user/repos` rather than `https://api.github.com/users/{username}/repos` and then filter out the ones that aren't owned by a `github.username`.

[2016-02-04 20:28] sanjayankur31 commented on #268
Reported here: https://bug.tasktools.org/browse/TD-104

Feel free to add more info. It does indeed look like an issue with "depends".

[2016-02-08 15:37] ytjohn commented on #211
I came across this when I had issues. Just adding a note that v6 enables a captcha by default. So if you get 403s, use a web browser to log out and then back in, solving the captcha. Then try bugwarrior-pull  again.

[2016-02-10 15:34] grenade commented on #238
+1

[2016-03-10 23:10] #201 closed

[2016-03-11 03:50] #254 closed

[2016-03-30 19:05] rocketnova opened #295 "Basic Auth config"
I'm trying to use bugwarrior with a redmine that sits behind a Basic Auth. I couldn't find any documentation for how to configure the .bugwarriorrc to handle that. Is this possible?

Thanks!

[2016-03-30 20:24] ralphbean commented on #295
Quite possibly not currently possible.  ;)  But we could look into it!

I don't have access to a redmine instance behind Basic Auth to test with.  Is yours a semi-public instance where we could test?

[2016-03-30 20:46] coddingtonbear commented on #295
Glancing at the source, it *looks* like we could probably swap out urllib2 for requests (which makes using basic auth a really trivial thing) with minimal effort?

[2016-03-30 23:06] rocketnova commented on #295
Sadly, my redmine is not publicly available for testing against. Looking at the source, it looked possible to add an optional layer to handle basic auth in addition to the redmine api key. I actually hacked around in my source to do a proof of concept, which worked, but I'm not sure what the best and most secure way is to handle basic auth and also what the best way to add a config variable that g

[2016-04-04 05:51] mathstuf opened #296 "Add support for getting all pagure PRs and issues"
Similar to `github.involved_issues`. Support is not in pagure yet.

See: https://pagure.io/pagure/issue/880

[2016-04-04 23:54] ralphbean opened #297 "RFE: sync from a calendar"
Perhaps an ical export or any other API google calendar exposes.

It would be nice to have my meetings for the day peppered in my task list and noted in my status reports.

[2016-04-05 00:14] ryneeverett commented on #297
Did you see [the perl ical export script](http://taskwarrior.org/download/export-ical.pl)?

To me this seems pretty out of scope for bugwarrior. It isn't particularly related to bug tracking so I don't see the advantage of having it in the code base. There shouldn't be anything in bugwarrior abstract enough to help with this feature. If there is, perhaps we should push it upstream into taskw?

[2016-04-05 00:19] coddingtonbear commented on #297
I think @ralphbean is referring, rather, to importing calendar events as tasks (rather than the other way around), @ryneeverett.  I'm not sure I have a philosophical objection to such a feature being added here -- I think of bugwarrior as more of a "taskwarrior integration engine" than a "taskwarrior bug tracking tool" -- but there are advantages to keeping a package's mission concise.

[2016-04-05 00:21] ryneeverett commented on #297
Good point, that link is irrelevant.

[2016-04-05 01:18] ralphbean commented on #297
Yeah - I was thinking of importing calendar events as tasks.

If anyone here is opposed to the scope creep, I wouldn't mind carrying it as a private plugin.

[2016-04-05 02:19] ryneeverett commented on #297
Well I looked through the taskwarrior "tools" list and was surprised to learn that bugwarrior seems to be the only package in the "synchronize tasks with web service API's" category. So expanding scope to fill this entire category might not be unreasonable. I'm -0.

[2016-04-06 00:52] rocketnova commented on #295
Hi there,

I've made a pushed a proof of concept change to my fork at https://github.com/rocketnova/bugwarrior/commit/e55371e39ddc87e1ca8d9628fa6583495f1127b5. I'm not very experienced in python, so this is probably **not** the right solution, but this is currently working for what I need. Can something like this be incorporated?

Also, I noticed that 8516f968c5e0d51914c7710b722f1e00cda50b4b intro

[2016-04-06 02:55] ryneeverett commented on #295
@rocketnova I made some changes on top of your commit and pushed it to #298. Could you test that out?

[2016-04-06 22:53] #295 closed

[2016-04-08 20:18] ralphbean commented on #297
Eh, my personal use case for this fell apart - to get at my work calendar we'd have to do a great big heavyweight oauth2 dance with an OTP token.  Not worth it.  Closing as wontfix.  :)

[2016-04-18 20:53] ryansb opened #304 "Creates shell argument lists that are too long"
[If this error would be better handled in `taskw` I can refile it there]

When running against the [ansible/ansible](https://github.com/ansible/ansible) repo, I had bugwarrior crash because it tries to send too many arguments to taskwarrior at once.

[code]

[2016-04-18 22:32] coddingtonbear commented on #304
Could you check to see what the results of `xargs --show-limits` are on your system, @ryansb; it *sounds* like you might be running somewhere where that value isn't as high as it usually is (around 2mb).

[2016-04-18 22:52] ryansb commented on #304
[code]

[2016-04-18 23:00] ryansb commented on #304
Oh goodness. Here's the issue it seems to be choking on. https://github.com/ansible/ansible/issues/15416

That would explain why it hits the length limit.

[2016-04-18 23:34] ralphbean commented on #304
Are you for real real?  How about we apply some truncation (at the bugwarrior level, or at taskw's?)

[2016-04-18 23:38] ryansb commented on #304
Yeah...how about a max of like 500K for the body. Should be enough for anybody

[2016-04-19 05:08] coddingtonbear commented on #304
![](http://image.slidesharecdn.com/famous-misquotes-150803184608-lva1-app6892/95/embarrasing-technology-quoetes-5-638.jpg?cb=1438727138)

[2016-04-22 08:59] r1k0 commented on #304
Hi ryansb,

Could you try against 2.0.1.0? If this is related then you should not have any issues.
Could you try against 2.0.2.0? If just found the problem occurs with this version too.
Thank you for your help

[2016-04-22 10:54] ryansb commented on #304
@r1k0 this is a problem with bugwarrior, which is a tool to read issues and insert them into Taskwarrior (a CLI todo list tool). It just happens to fail on that particular issue because of the large amount of logs included, but isn't actually using ansible or repro'ing the bug.

[2016-04-27 21:23] ralphbean commented on #151
OK, I think this one isn't an issue anymore.

[2016-04-27 21:23] #151 closed

[2016-05-19 17:23] gdetrez opened #310 "Use labels in the issue tracker"
I would like to add labels to easily filter issues in the tracker. I propose to start with one label per service (github, gitlab, bitbucket, etc) plus two labels to differentiate bugs from feature proposal.

[2016-05-19 17:53] ralphbean commented on #310
It will be hard to differentiate bugs from feature proposals automatically across all services.

Some forges have their own labels and some of our service implementations can import those as tags.  Can you expand on that?

:+1: to adding a 'github' or 'gitlab' label though, independently.

[2016-05-19 20:19] coddingtonbear commented on #310
Oh, I wonder if I misunderstood; I had read this as being just a suggestion for how we could categorize the issues in this project.

[2016-05-19 20:57] ryneeverett commented on #310
I find both @ralphbean and @coddingtonbear's interpretations plausible, but I think @coddingtonbear's is most likely correct.

In my opinion service labels aren't a good idea, because:

- Unlike bugs/features, you can easily filter them via search.
- That's a lot more labeling to keep up with and IMO inconsistent labeling is worse than none.
- We'd end up with more label colors than can be easily

[2016-05-20 06:31] 4001982248998 opened #311 "OTRS support"
TW and OTRS user here. I was exited to find out bugwarrior exists, and disappointed that OTRS is not supported. Unfortunately, I do not have the skills to develop the service support by myself.

Any chance of making OTRS a supported service?

[2016-05-20 13:04] ralphbean commented on #311
Sure!  But.. we have to have someone who 1) uses [otrs](https://www.otrs.com/) and 2) can develop the plugin, otherwise we don't have a good way to support it long term.

We try to rely on people to become maintainers of the different backend plugins (I don't use all of them myself), otherwise they suffer bit rot over time.

Would definitely accept a patch to support OTRS.  :)

[2016-05-20 13:41] svenehret commented on #311
did I miss any documentation for plugin development? I might have a look at it.

[2016-05-20 13:43] gdetrez commented on #310
This is indeed a meta issue: I meant to add labels to bugwarrior's own issue tracker :wink:.

But @ralphbean's interpretation wasn't that far as one use case I thought about would be to have bugwarrior (the software) import issues from bugwarrior's issue tracker only for the services I'm familiar with (i.e. I would be interrested to get unassigned issue for gitlab and bitbucket but not jira for in

[2016-05-20 13:46] ryneeverett commented on #311
Don't be so sure about that. We can't lead development, but we can guide and help.

I don't think so, but do see http://bugwarrior.readthedocs.io/en/latest/contributing.html. Guiding you through this process may be a good opportunity to develop a guide for adding a new service.

[2016-05-20 13:49] ryneeverett commented on #310
Fair enough.

Fair enough.

Awesome, I'd never considered that strategy.

[2016-05-20 14:13] ryneeverett commented on #311
One thing I did notice was missing from the docs is that you should create a new branch based off of our develop branch, e.g.

[code]

[2016-05-20 15:45] gdetrez opened #314 "An option for "assigned issues""
In the github service, assigned issues are added to TW unconditionally. Shouldn't they also respect constraint such as `include_repos` and `exclude_repos`? Or maybe there should be an option to have all assigned issues *in addition* to the other pulled issues.

[2016-05-20 17:22] gdetrez opened #315 "Inconsistent behavior of `filter_{merge,pull}_requests`"
The option `filter_merge_requests` or `filter_pull_requests` is documented in gitlab, github and bitbucket like this

Which I understand as
- filter_pull_requests = True :arrow_right: prune pull requests according to the assignee (like issues)
- filter_pull_requests = False :arrow_right: import all pull requests

This correspond to the behavior implemented in the github service.

But in both bitbu

[2016-05-20 20:45] eliasp commented on #311
It would probably make sense to use [OTRS' GenericInterface](https://otrs.github.io/doc/manual/admin/5.0/en/html/genericinterface.html) and ship a REST-based WebService configuration for it which provides exactly the data/interfaces Bugwarrior needs.

[2016-05-25 15:52] gdetrez commented on #278
@gfrivolt What did expect to happen and what did actually happen?
See also #315.

[2016-05-25 16:02] gdetrez commented on #271
Hi @vitaminless.  Cool that you fixed the issue.

As far as I can see, the file you attached is not a patch but the entire file `bugwarrior/services/__init__.py`, is that correct? That might make it a bit more difficult to apply your changes.

If possible, the easiest thing to do would be that you create a pull request here on github.
Or use `git format-patch` to create an actual patch so that we

[2016-05-25 16:02] gdetrez commented on #270
@bexelbie what service are you using?

[2016-05-25 16:16] gfrivolt commented on #278
sorry, I see that I was't specific. I'd expect that pull request would not show up, they would not be pulled, when `github.filter_pull_requests = True`.

[2016-05-25 16:38] gdetrez commented on #310
I now added the suggested labels, plus one "need info", and sorted all the open issues (maybe I'll do the closed issues if I have an afternoon to waste someday...).

If someone disagree with my labeling, feel free to change it but then please use this thread to explain why you thought it was mislabeled.

[2016-05-25 16:38] #310 closed

[2016-05-25 16:41] gdetrez commented on #278
Interesting, I had a different interpretation of the option description (but I'm not sure which one is the originally intended one...)

[2016-05-25 16:42] coddingtonbear commented on #38
Oh, as an aside -- if you use bugwarrior via https://inthe.am/, you'd get trello integration for free.  Bugwarrior integration is, though, to be clear, a beta feature there.

[2016-05-25 16:44] gdetrez commented on #315
@gfrivolt in #278 interpreted the documentation in the bitbucket/gitlab way so the text should probably be reworded to avoid possible confusion.

@ralphbean what was your original intent for the option?

[2016-05-26 21:10] gdetrez commented on #38
@carmackjia I added support for trello in #319. If you want to give it a try, I'd love to hear your feedback :grinning:

[2016-05-28 16:38] ryneeverett commented on #25
At this point, is there any reason to maintain python2 support when we do this? We're halfway to the 2020 EOL since this issue was opened and as far as I know every distro ships with python3.

[2016-05-29 15:15] mathstuf commented on #25
Bugwarrior is an end-user application, so I don't think there's any "but dependencies care about the Python" version problems.

[2016-05-30 03:02] coddingtonbear commented on #25
I am using bugwarrior as a library in Inthe.AM, but, really, don't worry about me; I'll adapt if you drop Python 3 support.

[2016-05-30 03:18] ryneeverett commented on #314
I suspect the current behavior is due to *everyone wanting to unconditionally pull all issues assigned to them*. I'm curious why you don't want this.

[2016-05-30 17:13] gdetrez commented on #314
I have two task lists, one at work and one at home, both pulling tasks from github but from different repositories. I don't want issues from my personal project ending in my work list and vice versa.

[2016-05-30 17:17] ryneeverett commented on #314
Ah, makes sense.

[2016-05-30 21:15] ralphbean commented on #25
+1 from me to go all-in with python3, with condolences to @coddingtonbear.

[2016-05-31 07:22] #314 closed

[2016-06-06 10:55] andrea-imparato-sociomantic commented on #282
I would also need this feature. Tell me if I can help in any way.

[2016-06-06 11:51] bexelbie commented on #270
I was using bugzilla .. however my usage of bugwarrior has ceased at this time.

[2016-06-06 11:51] #270 closed

[2016-06-06 12:59] ryneeverett commented on #282
Give #323 a try.

[2016-06-06 14:01] ryneeverett commented on #282
Ah, I'd forgotten about the need to pull private issues owned by orgs other than the user, which is why I think my above comment is correct:

[2016-06-06 14:41] ryneeverett commented on #282
I tried again in #324.

[2016-06-07 15:01] ryneeverett commented on #282
@andrea-imparato-sociomantic you can help by testing out #324. Simplest way is `pip install git+https://github.com/ryneeverett/bugwarrior.git@fix-github-private-repos#egg=bugwarrior`.

[2016-06-07 15:03] andrea-imparato-sociomantic commented on #282
you probably missed the `--upgrade` in the command line parameters :). Anyway checking it out now :+1:

[2016-06-07 15:07] ryneeverett commented on #282
@andrea-imparato-sociomantic Yeah, I should have included that. I just tested in a temporary virtualenv so I didn't need it.

[2016-06-14 15:51] #282 closed

[2016-06-17 01:20] discipolo opened #326 "cannot pull issues from bitbucket"
neither private nor public.

failed: Non-200 status code 401
TRACE Traceback (most recent call last):
TRACE   File "/usr/lib/python2.7/site-packages/bugwarrior/services/__init__.py", line 502, in _aggregate_issues
TRACE     for issue in service.issues():
TRACE   File "/usr/lib/python2.7/site-packages/bugwarrior/services/bitbucket.py", line 212, in issues
TRACE     response = self.get_data('/reposi

[2016-06-17 08:58] irl opened #327 "Support for Debian BTS"
The Debian bug tracker (https://www.debian.org/Bugs/) is the primary place where Debian bugs are tracked.

There is a SOAP interface "documented" at:

https://wiki.debian.org/DebbugsSoapInterface

I am planning to package this software in Debian (Debian bug is https://bugs.debian.org/810629) and it would be awesome to also use this for Debian bugs.

[2016-06-17 13:14] ralphbean commented on #326
@ryneeverett and @gdetrez were both working on bitbucket changes recently in #316 and #313.  Maybe they know?

FWIW, that [401 status code](https://http.cat/401) suggests that your credentials might just be incorrect (but it could also be a problem with the code...).

[2016-06-17 13:19] ralphbean commented on #327
Awesome @irl!

Maybe you could send a note out to a debian list and see if you can solicit a Python developer to build a backend for BTS?  Our general rule here is that we won't write a backend for a service unless we use it personally (it's otherwise hard to be sure that it really works).  However, we gladly accept new maintainers for new backends.. we just need to find someone invested to do the

[2016-06-17 14:26] gdetrez commented on #326
I agree with @ralphbean, it looks like your credentials are incorrect. You can try them with curl to check:
[code]
If the same credentials work with curl but not bugwarrior then there might be a problem with the code.

[2016-06-23 01:04] discipolo commented on #38
tested that branch a bit and it works great for me so far!

[2016-06-23 01:08] discipolo commented on #326
i fell into the oracle trap. once i figured out how to get bugwarrior-vault working again (had a rogue [hooks] section) i was able to get rid of the wrong credentials! thanks!

[2016-06-23 01:08] #326 closed

[2016-06-23 03:08] ralphbean commented on #326
Glad to hear you worked it out!  :)

[2016-06-25 19:51] irl commented on #25
As I've packaged dependencies in Debian, I've made sure to build both Py 2 and Py 3 versions for them. Going pure Py 3 should be an easy transparent switch to end users when it happens.

[2016-06-25 19:53] irl commented on #327
This seems like a good general rule. I'll keep an eye out for anyone that might be interested to write this, and I'll send a message out once the package is accepted in Debian.

If time allows in the future, it may be me that writes this.

[2016-06-25 20:07] irl opened #330 "Please provide man pages"
Debian considers a lack of man pages for applications as a bug.

W: bugwarrior: binary-without-manpage usr/bin/bugwarrior-pull
W: bugwarrior: binary-without-manpage usr/bin/bugwarrior-uda
W: bugwarrior: binary-without-manpage usr/bin/bugwarrior-vault

If you're not willing to write man pages, I'll take a go at writing them myself but I feel you'd be better qualified to do it.

[2016-06-25 20:50] ryneeverett commented on #330
Perhaps this would be a good time to make these into actual subcommands rather than separate executables?

[code]

Switching to subcommands seems like a usability improvement to me and then we'd only have to write one man page.

[2016-06-26 13:50] irl opened #334 "Please capture component for Trac issues"
When scraping issues using the Trac service, please capture the component of the issue in a UDA and make this available to the *_template options. I'd love to use this to set the project based on the Trac component.

Just took a quick poke at Trac and this information is available in both the CSV and XML-RPC outputs. I have instances for both in my config and am happy to provide testing services.

[2016-06-26 14:12] irl opened #335 "die() in bugwarrior/config.py not passing correct arguments to logger"
This message should be rendered using Jinja2. A patch (not a great patch - this is not the most elegant code I've ever written) is below:

[code]

If there's already a jinja2.Environment hanging around somewhere, it should probably be reused.

[2016-06-26 14:22] irl opened #336 "Notifications fail to work with pynotify (on Debian stretch)"
Notifications seem to cause an exception with pynotify. They work fine with gobject though.

This is using Debian stretch, exception and installed package versions below:

[code]

[code]

[2016-06-26 14:33] ryneeverett commented on #335
Fixed by #337.

[2016-06-26 14:33] #335 closed

[2016-06-26 14:44] #334 closed

[2016-06-26 14:46] ralphbean opened #339 "Cut a new bugwarrior release (2.0.0)"
I think we're about due.

[2016-06-26 14:46] ralphbean commented on #339
Any objections?  Should we wait for any pending fixes first?

[2016-06-26 15:54] irl commented on #339
I'll be ready to upload a package to Debian as soon as the release is cut.

[2016-06-26 16:21] ryneeverett commented on #339
@irl What about #330?

@ralphbean Given that we don't do point releases, cutting a release right after a bunch of changes and before the development branch has been tested out by multiple developers doesn't make much sense to me. Seems pretty likely that we've introduced some silly regressions. My thinking is that if you don't do point releases, all releases should be stable. Therefore it makes se

[2016-06-26 16:30] irl commented on #339
#330 is a problem. I can produce simple man pages though, as these are not complex commands. The bug is resolved in Debian by having a man page, not by having complete documentation in the man page. The man pages just need to describe basically what the command does and where to find the full docs (which are installed in HTML format by the Debian package also).

[2016-06-26 16:44] irl commented on #339
Ok, wait a minute. I broke a thing in the Trac tests (test is broken, not the code).

[2016-06-26 17:07] ryneeverett commented on #339
Also, any idea what broke Travis?

[2016-06-26 17:13] irl commented on #339
Seems to be some sort of missing dependency.

[2016-06-26 18:08] ralphbean commented on #330
Would use of [help2man](https://www.gnu.org/software/help2man/) in the Debian build be sufficient?

[2016-06-26 18:10] ralphbean commented on #339
I'm fine with waiting a week.

I'd rather not add a man page to this repo if we can (I like [help2man](https://www.gnu.org/software/help2man/) for things like this).  But if that doesn't work for some reason, of course we could accept a manpage here.

[2016-06-26 18:16] ryneeverett opened #342 "RFC: Make executables subcommands of a single bugwarrior executable."
[code]

I would consider this primarily a usability improvement -- you only need to know one command and can `--help` yourself from there. Also avoids `bin` cluttering and is a more conventional cli design.

[2016-06-26 18:33] irl commented on #339
help2man is fine. (:

[2016-06-26 21:14] djmitche opened #343 "Bugwarrior requires dbus-python"
In installing the latest bugwarrior:

[code]

This required installing `libdbus-glib-1-dev` on my ubuntu system.

I don't feel especially great about having to install freedesktop components on my small VPS just so I can run bugwarrior there (I sync bugs to taskwarrior there hourly, and then sync tasks around to my other systems).

Would you consider any of
 * require keyring < 9.2 (the dbus/secre

[2016-06-26 22:02] ryneeverett commented on #343
Wait, it looks like the dbus dependency was dropped in 9.2.1, no?

[2016-06-26 22:19] djmitche commented on #343
It was just transferred to secretstorage, which requires python-dbus

[2016-06-26 22:23] ryneeverett commented on #343
Oh, I see. Looks like it was made an optional dependency of secretstorage a few days ago but hasn't been released. https://github.com/mitya57/secretstorage/issues/4

[2016-06-26 22:27] djmitche commented on #343
Ah, nice find.  So nothing to do here (but helpful if someone else encounters what I did, at least)

[2016-06-26 22:34] ryneeverett commented on #343
I think we still need to do something about this because secretstorage still has a hard dependency on dbus, it's just that they now suggest installing it from a system package manager rather than pypi. So it seems like the keyring feature will now depend upon dbus-python and we're back where we began with your two proposed solutions. Keyring might as well be an optional dependency if it has a requ

[2016-07-02 11:05] jwilk commented on #330
In my experience, `help2man` produces manpages that are ugly and insufficiently detailed.
In this particular case, such manpages would give very little clue how to use bugwarrior.
I'd prefer no manpages to `help2man`-generated ones.

[2016-07-02 20:39] coddingtonbear commented on #330
We do have sphinx docs for bugwarrior, so I think we could just [ask sphinx to generate `manpage`s](http://www.sphinx-doc.org/en/stable/builders.html#sphinx.builders.manpage.ManualPageBuilder) in addition to the normal HTML output, no?

[2016-07-05 13:23] ralphbean commented on #330
It works when I run it, but the output manpage is not structured the way a typical manpage is.  It would help to add some top-level man pages with specific information about individual commands.

[2016-07-05 13:52] ralphbean commented on #339
Checking in.  Any concerns with cutting a release sometime this week?

[2016-07-05 14:10] ryneeverett opened #345 "Github missing User-Agent header"
This regression was introduced in #332. Since I'm the first to run into it it may only occur using oauth authentication.

[code]

[2016-07-05 14:57] irl commented on #345
I'm using GitHub, not with oAuth, and it's working fine.

[2016-07-05 15:27] irl commented on #345
https://github.com/ralphbean/bugwarrior/pull/332/commits/24f1de44c65c30874912778037fc5cfbcf708b19#diff-0fcba00570ac37e92e3e1af666477f1fR18

I think we can just add the header here.

[2016-07-05 15:44] irl commented on #244
This is wrong, maybe fixed by something since the bug was reported. I'm using ``github.include_repos`` (as in the docs) and it works.

http://bugwarrior.readthedocs.io/en/latest/services/github.html#include-and-exclude-certain-repositories

Not using the ``github.`` will prompt a message saying to use the ``github.`` IIRC.

[2016-07-05 15:52] irl commented on #239
This is the behaviour I would expect, I don't think this is a bug.

https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/services/github.py#L312

This could perhaps be a feature request however.

[2016-07-05 17:14] ralphbean commented on #244
Thanks @irl.  :)

[2016-07-05 17:14] #244 closed

[2016-07-05 17:14] #345 closed

[2016-07-06 22:16] irl commented on #327
There is a Python library available for accessing the Debian BTS. (:

https://github.com/venthur/python-debianbts/blob/master/src/debianbts.py

This is quickly creeping into my list of things that if I do sooner will make things easier later.

[2016-07-07 01:06] irl opened #347 "Some services do not use asbool when importing config options that should"
e.g.

https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/services/trac.py#L96

[code]

This will return True if any value is defined for this option, including "False" and will only be false if the option is absent or set to the empty string. :/

We need a self.config_get_default_bool('option', default=False)

Something like:

[code]

[2016-07-07 01:56] irl commented on #347
Ooops, we have this already.

So this is just an issue with the Trac service (perhaps also others).

[2016-07-07 02:13] ryneeverett commented on #347
Personally I find the `asbool` acceptance of a bunch of alternative `True` values silly. If we're going to try to make the behavior consistent my vote would be to narrow it down to a single `True` value.

[2016-07-07 02:25] irl commented on #347
Or go even futher, match it to ```True``` or ```False``` and fail config validation if it's not one of those.

[2016-07-07 12:38] gdetrez commented on #347
I don't see the point of narrowing the accepted values at this point: it seems that it will just break backward compatibility without bringing any clear benefit, at lest none that I can see.

[2016-07-07 12:43] irl commented on #347
Unless we had a transitional step where a few releases give warnings in the validation stage.

[2016-07-07 12:51] ryneeverett commented on #347
This was my view until this bug report was opened and I still sympathize. But now that the silly feature requires maintenance I suspect eliminating it is less work than making it behave consistently and supporting it indefinitely.

[2016-07-07 12:52] gdetrez commented on #239
I don't follow, can you develop?

[2016-07-07 12:54] irl commented on #239
I have no idea what I was looking at when I wrote that comment. :/
Ignore me.

[2016-07-07 12:56] irl commented on #347
I think this is going off-topic a little, the point here is that the Trac service is currently broken, as if you have an entry of "trac.no_xmlrpc = False" in your service configuration, it will still not use xmlrpc.

[2016-07-07 13:42] ryneeverett commented on #239
@irl No problem. Pruning this conversation in 5...4...3...

[2016-07-09 02:15] irl opened #350 "Unicode in task description causes logging to throw exception"
When a task contains non-ascii characters, logging will throw an exception and not display `INFO:bugwarrior.db:Updating task ...`.

[code]

[2016-07-09 20:17] ryneeverett commented on #339
I think it would be good to confirm if #350 was an issue in 1.4.0. If it is a regression caused by #331 I'd hope to fix it before release.

[2016-07-12 09:23] irl opened #354 "IOError when starting bugwarrior-uda without a config file"
From Debian bug 830833 (http://bugs.debian.org/830833):

[code]

[2016-07-18 08:21] nblock opened #355 "Bugzilla: 0 bugs found"
I'm trying to get bugwarrior 1.4 up and running against Bugzilla 5.0.3 using this configuration:

[code]

Running `bugwarrior-pull` prints the following

[code]

The Bugzilla installation uses the following field values (Administration -> Field Values -> Status):
- UNCONFIRMED
- CONFIRMED
- IN_PROGRESS
- RESOLVED
- VERIFIED

One interesting bit might be that this Bugzilla instance uses LDAP for au

[2016-07-19 20:00] mozey opened #356 "Support for youtrack"
Is there any plans to add support for jetbrains youtrack as a remote source?

[2016-07-20 05:49] coddingtonbear commented on #356
There would be if you were planning to add such support, @mozey ;-); we really, really rely on people who actually use each supported service for writing the integration and helping out with testing during future releases.

They [do appear to have python bindings available](https://confluence.jetbrains.com/display/YTD6/Python+Client+Library), so adding a new service wouldn't be very difficult.  Ch

[2016-07-21 06:29] mozey commented on #356
@coddingtonbear I'll take a stab at it when I can squeeze in the time :)

I've setup the development environment (on OSX 10.10.5 with Python 2.7.11 virtualenv) as per the docs with some additional steps required:

tests_require in `setup.py` lists some of these not sure why `python setup.py develop` didn't take care of it?

    pip install nose
    pip install responses
    pip install jira
    pi

[2016-07-21 16:21] ryneeverett commented on #356
@mozey When you invoke `python setup.py nosetests` those dependencies are installed into a separate testing environment so you don't need to install them into your development environment. The way you did it is fine too.

[2016-07-23 00:58] ryneeverett commented on #350
1. It's odd that the first call is coming out of `logging` rather than bugwarrior. Are you sure that's the only error output?
2. Can you clarify "when a task contains"? In the title, in the description, in the url, in the comments, etc.
3. Was this with bugwarrior 1.4 or the development branch? If it's the development branch, could you check whether you have the same problem with 1.4?
4. Could you

[2016-07-25 13:02] irl commented on #350
[code]

I added a ```print "%r" % (issue,)``` to just before the logging.
https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/db.py#L361

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=145911 is the troublesome bug. There were others before but they appear to have been closed now and I didn't take note of them.

This could actually be a horrible mess complicated by the Debian BTS ha

[2016-07-25 13:11] ryneeverett commented on #339
Sounds like #350 is not a regression so I'd say go for it.

[2016-07-26 14:40] irl opened #358 "Support for flagged emails in IMAP"
Just an idea:
- Treat emails flagged in an IMAP folder as tasks
- Description is subject, can add body as annotation
- Considered "done" when the flag is removed
- URL is an `imap:` URL

Feedback would be good to develop this into something implementable. This concept is far too vague in my brain currently, but I think would be really useful, at least to me.

[2016-07-26 15:19] #327 closed

[2016-07-26 15:22] ralphbean commented on #297
I'm re-opening this.  I've had a change of heart.  :)

[2016-07-26 15:25] ralphbean commented on #358
This is crazy.  Crazy good.  :)

I personally don't use imap flags, so I can't comment much further.

For what its worth, I do use ``mutt`` and I recall that [there was a tool for creating tasks out of incoming emails](https://www.nixternal.com/mark-e-mails-in-mutt-as-tasks-in-taskwarrior/).

[2016-07-26 15:27] ralphbean commented on #355
Ah, interesting.  We'll probably need to differentiate between the login credentials and the identity used for filtering to make this work for you.

[2016-08-01 15:12] hjri opened #360 "Enterprize github support?"
Currently only github service available is github.com, but if one'd like to use their company's internal github service it wouldn't be possible.

[2016-08-01 15:14] irl commented on #360
It looks that GitHub enterprise supports the same APIs as github.com and all that would be needed is to change the API endpoint used in the existing GitHub service.

https://developer.github.com/v3/enterprise/

[2016-08-01 15:16] irl commented on #360
@hjri Do you know of any way that testing can be performed for this without going and paying for a GitHub Enterprise subscription?

[2016-08-01 15:19] hjri commented on #360
None that I know. I guess only way is to use user-based testing. I have access to one so i could test it a bit.

[2016-08-01 15:24] irl commented on #360
Our general rule here is that we won't write a backend for a service unless we use it personally (it's otherwise hard to be sure that it really works). However, we gladly accept new maintainers for new backends. Would you be interested in doing the work to introduce and maintain this feature?

http://bugwarrior.readthedocs.io/en/latest/contributing.html

[2016-08-01 15:27] hjri commented on #360
Thanks for the offer, but I'm not good at Python. I could sit for several evenings and make a PR for this issue, but I doubt code quality would be any good.

[2016-08-01 15:30] irl commented on #360
@hjri Ok, we can leave the issue open and hopefully there would be someone who can make this happen. It really doesn't look like it would be too difficult but without someone using this who is happy to maintain it and debug any issues, it could become problematic later.

[2016-08-02 14:51] mathstuf opened #361 "gitlab: fetch Todo items"
GitLab now exposes its [Todo items](https://gitlab.com/help/api/todos.md) through the API; bugwarrior should pull them down too.

I may get around to implementing it this week.

[2016-08-03 02:35] mathstuf commented on #202
The `github` label can be removed here; that bit is implemented.

[2016-08-03 02:38] mathstuf commented on #204
Well, we're finally getting rid of Mantis (party!), so I have no interest in implementing this.

[2016-08-03 11:10] irl commented on #240
@harleypig is this specific to a service or does this happen with all services?

[2016-08-08 04:17] vlekakis opened #365 "githubmilestone"
The {{githubmilestone}} seems to be a number rather the actual milestone.
Not sure if this what you meant, but does not seem the case from this: http://bugwarrior.readthedocs.io/en/latest/services/github.html

[2016-08-08 12:58] irl opened #366 "Detect when UDD has high load and won't process requests"
When UDD has high load, it will return HTML instead of JSON with an error message. Incorrect content type should be caught and the sync should be cleanly aborted. Currently it's aborted, but with a horrible looking traceback (due to the JSON not parsing).

I haven't seen other plugins doing any caching, but it might be worthwhile to cache the results of the UDD lookup as this is just discovering p

[2016-08-09 23:41] bowlofeggs opened #367 "bugwarrior should use data.location from ~/.taskrc instead of ~/.task"
Hello! My .taskrc has data.location defined to an OwnCloud share, so that I can easily share my tasks among devices. Thus, I do not have a ~/.task folder. When I run bugwarrior-pull, this is an issue:

[code]

However, after I ```mkdir ~/.task```, all is well in the kingdom.

Thanks for making this awesome plugin!

[2016-08-10 01:27] ryneeverett commented on #367
This issue will be resolved by #363 which gets the data location directly from taskwarrior which should be effectually the same as getting it from the .taskrc.

In the meantime you can set the environmental variable "TASKDATA" (which we're borrowing from [the taskwarrior configuration](https://taskwarrior.org/docs/configuration.html)) to override the default location.

[2016-08-10 13:18] albfan opened #368 "Embedded bugwarrior on android"
Would be possible to use:

https://github.com/kivy/python-for-android

to import x-to-taskwarrior for android?

I can test on my own fork:

https://github.com/albfan/taskwarriorandroid

Before suggest patches so testing would be dependant on third party teams.

If there's other options (java implementation for bugwarrior or the like, please notice me)

[2016-08-10 19:00] ryneeverett commented on #368
I wouldn't want to discourage you from this approach but I would think running bugwarrior on a server and syncing your android device from there could give you the same result a lot easier and also decrease the IO load on your android device.

[2016-08-10 20:22] albfan commented on #368
Main idea is exactly to avoid that server in the middle. Let's see if it at least it run on android

[2016-08-25 07:12] nblock opened #369 "Crash: KeyError: 'internals'"
I get the following crash when running `$ bugwarrior-pull`:

[code]

Versions:
- Bugwarrior: 1.4.0
- Bugzilla: 5.0.3

[2016-08-25 07:18] nblock commented on #355
I modified the bugzilla installation such that login name now matches email.

[2016-08-29 19:12] #354 closed

[2016-08-29 19:23] bowlofeggs opened #374 "[RFE] Better error messaging when users hit 404 while using a token to authenticate to GitHub"
Hello! I'm having some trouble connecting Bug Warrior to GitHub with token authentication. Here's my bugwarriorrc with the token redacted:

[code]

When using HEAD on the develop branch as of today, here is what happens when I bugwarrior-pull:

[code]

This is a wild guess, but I noticed when I tried out password auth that the URL it tried to use (and failed with, since my account is two-factor au

[2016-08-29 23:25] #361 closed

[2016-08-29 23:56] ryneeverett commented on #374
The url that returned the 404 is correct: https://developer.github.com/v3/issues/#list-issues.

See https://developer.github.com/v3/troubleshooting/#why-am-i-getting-a-404-error-on-a-repository-that-exists.

[2016-08-30 02:52] bowlofeggs commented on #374
Oh man, now I feel pretty silly, but to be honest 404 instead of 403 is also pretty silly. I went to look at that token in my auth settings, and I think it lacked the "public_repo" permission. If you create a token and don't check any of the boxes, it will say "public access" next to it. I had seen the bugwarrior docs that said "Only the public_repo scope is required" and for some reason I didn't

[2016-08-30 14:23] ryneeverett commented on #374
Agreed.

Seems reasonable to me.

[2016-08-30 17:30] #365 closed

[2016-09-01 07:28] #38 closed

[2016-09-02 16:43] bowlofeggs opened #375 "bugwarrior does not pull in my bodhi assigned issues by default"
The documentation says that "By default, bugwarrior pulls all issues across owned and member repositories assigned to the authenticated user.":

https://bugwarrior.readthedocs.io/en/latest/services/github.html#get-involved-issues

However, I don't see issues in bodhi that are assigned me to when I run bugwarrior-pull. For example, this issue does not get pulled in:

https://github.com/fedora-infra

[2016-09-02 16:48] bowlofeggs opened #376 "UnicodeDecodeError while pulling GitHub issues"
While trying to play with https://github.com/ralphbean/bugwarrior/issues/375 I set ```github.involved_issues = True``` and ran a bugwarrior-pull. This caused a whole lot of issues to be pulled in, and it crashed on one of them:

[code]

I do have that ```91: Support did yesterday.```, but I do not have 2435 so I believe that is the one that failed. Here is the issue in question:

https://github.co

[2016-09-02 16:55] bowlofeggs opened #377 "bugwarrior pulls in merged pull requests but leaves them pending"
I turned on ```github.involved_issues = True``` today and noticed that it left merged pull requests as "pending" tasks. For example, this pull request was closed long ago:

https://github.com/psss/did/pull/91

However, it was pulled in as pending:

[code]

I assume this might have happened with issues as well, but I did not find any examples in my tasks (there are a ton of them now, and also it fa

[2016-09-06 14:23] Fale opened #379 "Leverage pass storage"
Store plain text password in confg files is bad.
Many people already use pass.
I think it would be really nice to have an integration so that we can specify the pass object instead of the password in the config file

[2016-09-06 14:27] Fale opened #380 "GnomeKeyring warning"
Executing `bugwarrior-pull` a gnome keyrin warning message appears

[code]

[2016-09-06 14:28] irl commented on #379
@Fale you can already do this, but i think we need a documentation fix to explain how to do it

[code]

[2016-09-07 13:20] gdetrez commented on #380
I think this warning comes from the [keyring](https://github.com/jaraco/keyring) python library although it seems that the import in question is not there. You can try reporting the issue to your distro maybe...

[2016-09-08 08:40] Fale commented on #379
Thanks irl, what's the '@oracle' bit?

[2016-09-08 10:39] irl commented on #379
http://bugwarrior.readthedocs.io/en/latest/common_configuration.html#password-management

[2016-09-08 11:05] Fale commented on #379
Thanks :)

[2016-09-16 16:19] gdetrez commented on #380
Closing as it is not something we can fix.

[2016-09-16 16:19] #380 closed

[2016-09-16 17:46] ryneeverett commented on #380
I agree that this doesn't seem to be actionable but I would note that clarifying our relationship with `keyring` is being tracked in #343.

[2016-09-16 22:50] gdetrez commented on #376
I didn't manage to reproduce this: pulling an issue with a '…' seems to work on my machine. What version are you using? This might have been fixed in the develop branch, would you have the possibility to give it a try?

[2016-09-16 22:55] gdetrez commented on #377
If any service fails, bugwarrior will abort and will not touch the tasks(see issue #279), which might explain why the PR is not marked as done.

[2016-09-18 04:50] vantreeseba opened #385 "Set tasks due to github milestone due date?"
Should we set the tasks due date on import to the milestones date?

I'm willing to work on this, but just thought I would ask what people thought before I dug in too far.

[2016-09-18 05:14] ryneeverett commented on #385
Makes sense to me. There may be some ambiguity added by github features down the road -- this new "Projects" thing I haven't looked at may have it's own concept of due dates, github may add a duedate feature to issues, etc -- but those can always be resolved by giving precedence to the most immediate due date.

[2016-09-18 11:27] irl commented on #385
Do we talk to anyone at @GitHub? Maybe they would have input or could at least point us at a roadmap of what they think their projects thing is. It would be in their interest if people building tools to work with GitHub weren't fighting against their new features.

[2016-09-18 11:56] gdetrez commented on #385
It could be annoying if someone use personal due dates to organize their tasks and bugwarrior systematically reset them to milestone dates they way it resets task descriptions or projects.

IMO this feature should be optional but I think there is no need to introduce yet an other option, instead pull the milestone date in a UDA (e.g. `githubmilestonedate`) and make sure that you can set the due da

[2016-09-18 19:28] bowlofeggs commented on #376
@gdetrez, I had been using the latest HEAD at the time. I just did a git pull and tried again (with [commit e8302d93](https://github.com/ralphbean/bugwarrior/tree/e8302d93e4428580dcb115a986960f8c6f60cdd7), and the exact same traceback happens on the same issue number. I believe my locale should be OK for this:

[code]

[2016-09-19 09:35] gdetrez commented on #376
I think I read your traceback too quickly, I didn't notice that you were using notifications. I tried again and I managed to reproduce this time. I tried to fix it in PR #386. If you can test it, it would be good to confirm that fixes the problem on your end :-)

[2016-09-21 15:34] vantreeseba commented on #385
I think @gdetrez is right about going the UDA path.  Especially if more due dates are added to other parts of the issues/projects, this will keep it from becoming tied to any single point of data.

I think that, for now, we could set the default due_template to the milestone date.

This, to me looks like a good path foreward, so I'm going to proceed on it.

[2016-09-25 18:10] iNode opened #388 "Support for rally."
Is there any plans to add support for Rally as a remote source?

https://rally1.rallydev.com

python client library (python2 only for now):
https://github.com/RallyTools/RallyRestToolkitForPython

[2016-09-27 18:42] beav commented on #377
I hit this issue as well with 1.4.0, I pulled in a number of PRs but the merged PRs were still marked as 'Pending'.

[2016-09-28 13:50] beav commented on #377
@gdetrez The merged PRs still appear when I tested with that.

FWIW here is my config entry for github:

[code]

[2016-10-03 13:07] beav commented on #377
Altering the query statement in this method seemed to help

[code]

[2016-10-03 13:15] gdetrez commented on #377
@beav: it looks like that might indeed be the problem. Could you open a pull request with your changes?

[2016-10-03 13:27] beav commented on #377
https://github.com/ralphbean/bugwarrior/pull/389

[2016-10-03 18:20] kostajh opened #390 "Improved support for Redmine"
Hi @ralphbean, as a heads up I'm working on a larger PR to improve the support available for Redmine (and a bunch of fields, support for annotations, etc). Let me know if you have any questions or concerns in the meantime!

[2016-10-04 13:20] ralphbean opened #391 "Import jira epics as tags"
Similar to #381, it would be nice to have the jira epic associated with a task imported as a tag.

[2016-10-04 15:59] ryneeverett commented on #377
Closed via #389.

[2016-10-04 15:59] #377 closed

[2016-10-04 16:21] #379 closed

[2016-10-04 16:23] #376 closed

[2016-10-06 02:53] bowlofeggs commented on #376
I just tested this and I was able to get through a bugwarrior pull without error. However, the specific issue that this seemed to be getting hung up on was skipped, I think due to https://github.com/ralphbean/bugwarrior/issues/377 also having gotten fixed. I'm happy to assume that this issue is solved. Thanks @gdetrez!

[2016-10-11 13:59] stbenjam opened #393 "Github issue causing errors when string contains special characters"
I have this github issue being tracked in in my taskwarrior, and it causes an error when adding it.

This comment has some special characters in it:
  https://github.com/saltstack/salt/issues/22734#issuecomment-151542392

[code]

[2016-10-11 15:34] bowlofeggs commented on #393
This sounds similar to https://github.com/ralphbean/bugwarrior/issues/376

[2016-10-12 09:25] lzap commented on #390
Could you elaborate LIMIT/OFFSET? Currently only max of 25 records are found, this could be increased to 100 (maximum allowed) or ideally with pagination: http://www.redmine.org/projects/redmine/wiki/Rest_api

[2016-10-12 09:34] lzap commented on #390
I created a simple patch to increase the limit to 100: https://github.com/ralphbean/bugwarrior/pull/394

Pagination would be super cool :-)

[2016-10-13 12:46] beav opened #396 "[RFE] add start date to tasks if corresponding bug is in 'assigned' state"
Currently, it's hard to tell which bugs are in progress via `task list`. It would be helpful if there was a configuration option on the bugzilla importer to set the task's start datetime to the current datetime if the bug is in `ASSIGNED` and there's no start datetime set currently. If the bug leaves `ASSIGNED` for whatever reason, the start datetime can be removed.

[2016-10-13 12:55] beav commented on #396
a couple of impl questions:

I was thinking of creating a `started` method on `IssueService` that raises `NotImplementedError`, and then have a check inside `https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/services/__init__.py#L320-L330` with something like:

[code]

That way, users would need to add `update_started` to their config to use it.

Does the above seem reasonable?

[2016-10-13 13:42] mathstuf commented on #367
#364 has been merged, this can be closed.

[2016-10-13 13:51] mathstuf commented on #315
Hrm, looks like I'm the one to blame here :/ . Currently, the `bitbucket` and `gitlab` implementations call it `filter_merge_requests` (since they call it that on those services). Anyways, I think that they could probably be renamed to `include_merge_requests` since it looks like that's what they actually do. A deprecation warning could then be used to nudge people to migrate to the new setting.

[2016-10-13 14:48] ryneeverett commented on #367
Good call @mathstuf.

[2016-10-13 14:48] #367 closed

[2016-10-13 18:39] seniorivn opened #398 "google fit integration"
it coulde be useful to have possibility to mark some tasks done and etc based on statistics of activity.

[2016-10-14 18:51] humboldtux opened #400 "GLPI Support"
I know that [GLPI](https://github.com/glpi-project/glpi) is not a Forge software, but i would like to add support for GLPI tickets in bugwarrior.

[2016-10-15 16:44] gdetrez commented on #393
It took some time but I managed to reproduce the issue and I think it's a different problem.
The problematic issue (saltstack/salt#22734) has a null character in it's description (ascii character 0x00), which makes the python subprocess module unhappy...

I think the fix is to filter out this kind of characters from the executed shell command in taskw.

[2016-10-15 17:55] gdetrez commented on #393
@stbenjam I believe I have fixed the problem in my fork of taskw but I'd be very happy if you could confirm it. Althoug, because the fix is not in bugwarrior itself it a bit more involved than usual.
Here's a quick and dirty way to test the new branch:

:warning: **you should still backup your tasks first, just in case** :warning:

[code]
In the task list, you should see the task for the problemat

[2016-10-17 18:31] stbenjam commented on #393
@gdetrez Awesome, thanks.  Tested, and the changes work for me!

[2016-10-18 20:58] beav opened #402 "unable to find MRs across projects in gitlab"
Gitlab has a handy dashboard for finding open MRs. For example, `dashboard/merge_requests?scope=all&state=opened&utf8=✓&author_id=<id>` will list all open MRs. This lets users find all MRs without needing to enumerate each project.

Bugwarrior currently does not allow for pulling data from here. Instead, it has to be done on a project-by-project basis. It would be handy if it could pull in data si

[2016-10-18 21:05] vitaminless commented on #271
Hey @gdetrez,

I have looked into the current code and just cannot see the if this is still a problem.
I have tried to install a current version with pip, but I struggle with lots of error messages... I use another solution for this since a while.

You can either close the bug or I will investigate further if you want to and try to create a pull request.

[2016-10-19 14:54] beav commented on #402
It appears to not be possible to do this without iterating over each project.

[2016-10-20 09:15] gdetrez commented on #271
I don't completely understand the original issue. If you can provide steps to reproduce it (with expected/actual result) I can take a look myself.

Alternatively, if you want you can post the errors you get when pip-installing bugwarrior here and we'll try to see if we can fix that.

[2016-10-20 16:28] omiday opened #404 "contrib section docs should mention openssl-devel requirement"
Without `openssl-devel` package installed I was getting:

[code]

Thanks!

[2016-10-20 20:45] coddingtonbear commented on #404
It looks like you don't have openssl libraries installed.  How you install those varies by OS, but if you're on linux, you could search for the package; it might be named something like `openssl-dev`.

[2016-10-29 12:43] gdetrez commented on #393
New taskw release that fix the issue: https://pypi.python.org/pypi/taskw/1.2.0

[2016-10-29 12:43] #393 closed

[2016-10-31 10:25] hauleth opened #409 "Pivotal Tracker integration"

[2016-10-31 15:29] gdetrez commented on #360
@hjri I tryed to work on this but I don't have access to a private github so I have no idea if it works or not.  I'd be happy if you could test it for me if you can.

You can install bugwarrior from [this branch](https://github.com/gdetrez/bugwarrior/tree/360-enterprize-github-support) (I suggest to do in in a virtualenv and to **backup your tasks first**):
[code]

Then there is a new option `gith

[2016-10-31 17:49] hjri commented on #360
Seems to be kinda working, after screwing around and reading manual i got it to import PRs and issues, but I get this error after running `bugwarrior-pull`
[code]
(domain/organization/repository/pr number have been replaced)

[2016-11-09 05:55] albfan opened #412 "pulling from bugzilla fails due to email1?"
using this configuration in `~/.bugwarriorrc`

<pre>
[bugzilla_gnome]
service = bugzilla
bugzilla.base_uri = bugzilla.gnome.org
bugzilla.username = my@email.com
bugzilla.password = mypassword
</pre>

this is the error I get

<pre>
CRITICAL:bugzilla_gnome|Worker for [bugzilla_gnome] failed: <Fault 53: 'email1 is not a valid parameter for the Bugzilla::Bug::match function.'>
TRACE Traceback (most re

[2016-11-09 12:48] ralphbean commented on #412
As a first guess, try setting the undocumented bugzilla `advanced` option in your bugwarrior config file.  See this commit:  https://github.com/ralphbean/bugwarrior/commit/474e61eb8d2204855f6496b0bfa56f0e1aede3b4

[2016-11-09 12:52] johanv opened #413 "Pulling from redmine to the correct project"
Thank you for creating this great project, I am now happily pulling redmine items to my taskwarrior.

Now I have a feature request :-)

In our redmine instance, I am working on multiple projects. It would be nice if bugwarrior-pull 2ould automatically figure out the project of a redmine issue, and add the task to the corresponding taskwarrior project, instead of adding all the redmine issues to th

[2016-11-09 13:09] albfan commented on #412
I will try it as soon as possible. More info here:

https://bugzilla.redhat.com/show_bug.cgi?id=825370#c3
https://www.bugzilla.org/features/#searchpage

[2016-11-09 15:32] #402 closed

[2016-11-09 17:28] ralphbean commented on #413
Most of our other service backends work this way, it must just be something weird about our redmine plugin.  Hm...

[2016-11-09 17:31] ralphbean commented on #413
@johanv, can you paste here a sanitized version of the redmine section of you bugwarrior config file?  (remove passwords!)

[2016-11-09 19:37] johanv commented on #413
Thank you @ralphbean foor looking into this. As it seems, I had just misconfigured the redmine section, sorry for that. I based my configuration on the [example in the documentation](https://bugwarrior.readthedocs.io/en/latest/services/redmine.html), but after leaving out the line

    redmine.project_name = redmine

everything works as expected. So I will close the issue.

[2016-11-09 19:38] #413 closed

[2016-11-09 20:41] ryneeverett commented on #25
Closing, even though there are no doubt plenty of python3 incompatibilities yet to be found. Now that the test suite supports python3, compatibility bugs may be reported in separate issues.

For the record, it looks like we'll be supporting python2 indefinitely. Supporting both versions doesn't seem to be that big of a deal and there's no reason to break compatibility without benefit.

[2016-11-09 20:41] #25 closed

[2016-11-09 20:45] ryneeverett commented on #339
@ralphbean Per @gdetrez's suggestion, if you cut a release in the near future I'd recommend checking out 1aa682865a4e3aa540e047959138d1fb8896c8fb (the last commit before python3 compatibility) since there are likely still some python2 regressions we haven't yet discovered and we certainly haven't fixed all the python3 bugs yet.

[2016-11-10 11:28] irl commented on #339
@ralphbean If we're going to release with Python 3 support, I'd be changing the Debian package to Python 3 and there may be enough changes here that maybe we call it 2.0.0? Not sure about the roadmap, just a suggestion.

[2016-11-10 15:19] ralphbean commented on #339
2.0.0 sounds like the right target at this point.  Let's keep it in develop for a little bit longer since we just mixed things up with Python3.  :)

[2016-11-10 15:40] ralphbean commented on #413
Good, good.  :)  Cheers!

[2016-11-16 13:30] towo opened #418 "CalDAV support?"
So, CalDAV supports task lists. Is any support planned, already integrated and I overlooked it, or do I need to get busy with it?

[2016-11-16 15:35] gdetrez commented on #418
I haven't heard of anything in this regard, feel free to get busy with it :wink:

[2016-11-16 16:57] ralphbean commented on #418
Yeah, this one's all you @towo!  :)

[2016-11-22 13:21] towo commented on #418
Okay, keep this open, I'll dump something in here eventually.

[2016-11-29 23:18] irl commented on #339
@ralphbean Just checking in on the progress, and a reminder that Debian will be coming up to a freeze and if 2.0.0 is to make it into Debian stretch, it needs to be soon.

[2016-12-02 16:45] gdetrez commented on #360
Hi @hjri. I think I found the problem. I pushed new commit to the same branch, if you can git it a try.
Note that I also rebased on the latest commit from mainline so there might be unrelated issues.

[2016-12-04 15:49] urzds commented on #336
I just ran into the same issue.

@irl: Did you find a workaround for this?

[2016-12-04 18:22] irl commented on #336
@urzds looking at my bugwarriorrc, I see I turned off notifications. I did get it to work with the not pynotify method iirc though.

[2016-12-04 19:06] urzds commented on #336
I changed my bugwarriorrc to `backend = gobject` and applied PR #419, now it works.

[2016-12-05 12:54] hjri commented on #360
@gdetrez doesn't seem to work
[code]

Looking over at code it seems that there's some typo - `get_repository_from_issue` exists in `GithubService` but `get_repository_from_issue_url` does not.

P.S. disregard python3.5 - on 2.7 same thing occurs, i was testing if it works on 3

[2016-12-05 14:31] kostajh opened #420 "Trouble with GitHub only_if_assigned"
I'm finding that Bugwarrior is pulling issues that are not assigned to me. Maybe I am doing something wrong with my config?

For example, Bugwarrior is pulling `https://github.com/savaslabs/autism-case-study/pull/68` even though I am not assigned there.

There relevant section of my config is:

[code]

[2016-12-05 16:32] gdetrez commented on #360
Your're right, that's a typo. I pushed a new commit to fix it.

[2016-12-05 16:34] hjri commented on #360
[code]

[2016-12-05 17:50] gdetrez commented on #360
It looks like github returns different JSON objects depending on how the issue is accessed :disappointed:
I pushed a new commit that should fix this problem (based on github API doc).

[2016-12-05 17:55] hjri commented on #360
now it works, thanks

[2016-12-05 18:01] gdetrez commented on #420
I didn't manage to reproduce this issue. With the given config I only got a bunch of PR but bugwarrior didn't pull the issue you mentioned.

What version of bugwarrior are you using? If you got it from a release, maybe try the version in `develop` to see if the problem has already been fixed.

[2016-12-05 18:03] gdetrez commented on #360
@hjri Cool that it finally works :smile:
As soon as I understand how to fix travis is my branches, I'll open a PR to have this merged in `develop`.

[2016-12-06 16:34] kostajh commented on #420
I'm using the `develop` version of Bugwarrior via [these docs](https://bugwarrior.readthedocs.io/en/latest/contributing.html#setting-up-your-development-environment). Hmm.

[2016-12-07 10:24] gdetrez commented on #420
Oh, wait. I think I missed the fact that https://github.com/savaslabs/autism-case-study/pull/68 is a pull request. Try adding `github.filter_pull_requests = True` in your config.

[2016-12-07 13:23] kostajh commented on #420
I'll try that, but I do want pull requests in my task list -- just the
ones assigned to me, though.

On Wed, Dec 7, 2016, at 05:24 AM, Grégoire Détrez wrote:

Links:

  1. https://github.com/savaslabs/autism-case-study/pull/68
  2. https://github.com/ralphbean/bugwarrior/issues/420#issuecomment-265410906
  3. https://github.com/notifications/unsubscribe-auth/AAMv_UoFGO6X-R6OTWd747oaQvviReWaks5rFol

[2016-12-07 16:51] gdetrez commented on #420
That's what `github.filter_pull_requests` should do in this case.

[2016-12-17 18:45] kostajh commented on #420
That seems to have worked. Thanks!

[2016-12-17 18:45] #420 closed

[2016-12-17 18:50] kostajh opened #423 "Support GitHub reviewer functionality"
Currently, a pull request will show up in one's task list if `filter_pull_requests = True` is set and that user is marked as "Assigned". But if you are marked as "Reviewer", and not "Assigned", the pull request won't show up in the task list. Docs on [Review Requests](https://developer.github.com/v3/pulls/review_requests/).

[2016-12-28 22:02] ryneeverett commented on #356
Resolved via #425.

[2016-12-28 22:02] #356 closed

[2016-12-30 23:25] Ktl-XV opened #426 "Allow setting default priority to empty"
Hi, I want to set my default priority to none/empty, but this is currently not possible because ConfigParser always reads a string and taskw only accepts ```'L'```, ```'M'```, ```'H'``` or the ```None``` literal.

I checked out the project and got it fixed, but before I can do a pull request, I am asking how do you prefer it to be fixed. This are the alternatives I can think of, from best to worse

[2016-12-31 05:44] ryneeverett commented on #426
I agree **1** doesn't seem clean. I don't feel strongly about **2** but I suspect the impact of changing a default like that is not worth it. I don't think **3** is a problem -- to me it's normal ini-file weirdness.

[2017-01-06 03:59] mikem23 opened #427 "bugwarrior conflicts with version of future in fedora"
I removed "future!=0.16.0" from setup.py and it seems to be working fine for me after that. This is on F24.

[2017-01-06 14:18] ralphbean commented on #427
Hm.. that's odd.  There is some discussion in #406 on the problems with that specific release of `future`.  Perhaps they were fixed by the Fedora packager?

[2017-01-06 15:26] mikem23 commented on #427
well, I am running it under python2, so perhaps that is the difference. There is no python3-jira in f24 it seems.

[2017-01-06 15:30] mikem23 commented on #427
though, if I disable the jira config and run it with py3 it also seems to be ok.
Fedora updated to 0.16.0 on 13 Dec 2016, and it looks like they only have one patch on top of that

    Patch0: %{name}-skip_tests_with_connection_errors.patch

[2017-01-11 08:57] lubomir opened #429 "Quotes in issue summary get escaped"
I have imported issues from Jira. One of the issues has a summary with double quotes. Taskwarrior is now showing it as `&dquot;`.

[code]

Adding a task manually via `task add …` with such character works correctly.

Getting the task from Jira does not escape it either

[code]

Any idea where this escaping is coming from?

[2017-01-11 13:54] ralphbean commented on #429
I bet it is coming from here:  https://github.com/ralphbean/taskw/blob/develop/taskw/utils.py#L23-L54

[2017-01-12 16:22] ralphbean commented on #339
Hey team, any feedback on the python3 stability?  Are we looking safe for a 2.0.0 release?

[2017-01-12 17:03] ryneeverett commented on #339
I doubt very many people have tested out python3 yet. However, I'm not sure that's a problem as long as python2 is stable (which I believe it is). I'd recommend packagers to continue to use python2, but the reality is most people are going to pip install with whatever their distro ships by default -- the best we can do for them is give them the best version of bugwarrior we have, which I believe i

[2017-01-12 17:05] ryneeverett commented on #339
Also, it would be nice if #395 made it in before release.

[2017-01-14 00:57] nyov opened #432 "Document description_length"
The `description_length` field (https://github.com/ralphbean/bugwarrior/pull/76) has vanished from the README and documentation.
It just took me half an hour to figure out why bw cut off task descriptions and how to change that.
Please include it again in the docs? A saner default would also be appreciated (say 72 or 79 chars, not 35).

[2017-01-18 10:36] seniorivn commented on #297
@ralphbean any updates?

[2017-01-18 15:24] ralphbean commented on #297
None yet.  (except that @dgregor expressed interest in this too... ;p)

[2017-01-18 23:27] djmitche commented on #238
@ralphbean I've put in a PR for python-bugzilla at https://github.com/python-bugzilla/python-bugzilla/pull/5

As far as using that from bugwarrior, currently it'd have to be configured as

    bugzilla.api_key = e1af7160b3162d423fdfeb04e230067a75e9b584

with bugwarrior configured to pass that along to [`self.bz.login`](https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/services/bz.py#

[2017-01-19 00:47] ryneeverett commented on #238
Seems like each auth model has it's pros and cons. One only persists temporary keys (good for security) but presumably requires interactive authentication (bad for the server). The other uses long-term keys (ok if you have a secret management system). I would think we'd be happy to support either/or/both.

[2017-02-20 06:34] pjf commented on #426
Totally voting for **3** here. Being able to write `default_priority = ` feels like a very intuitive solution.

[2017-02-21 05:44] coddingtonbear commented on #426
Just to add a little detail to this discussion: what the `allow_no_value` option provides is the ability for you to specify config values without the `=` following afterward.  That is, something like `key_without_value` below:

[code]

I'm not at all opposed to turning on `allow_no_value`, but the parser will already parse `default_priority =` (value: `''`) with or without our turning on `allow_no

[2017-02-21 07:59] pjf opened #441 "Support for unbounded length annotations?"
I am *loving* bugwarrior, not least because rather than having to visit 3rd-party tools I can see everything I'm doing right in TaskWarrior. It's seriously made an enormous impact to both my workflow and my enjoyment of getting things done in general. However, I'm having a tricky time finding a clean way to allow unbounded length annotations.

I was hoping that setting `annotation_length = 0` woul

[2017-02-21 08:50] pjf opened #442 "Gmail/Inbox support (with sample code)"
## Desired feature

I use Google's Inbox to help keep on top of tasks that come in via email, and I would *love* for this to be integrated into TaskWarrior. In particular, there are two common workflows that I know would be very useful:

* Users who 'pin' and 'snooze' their messages in inbox.
* Users who 'star' messages in their gmail

## The Gmail API

The Gmail API allows us to work with both of

[2017-02-21 09:07] pjf commented on #426
Oh gosh, `default_priority =` is exactly what I thought we were talking about, and mirrors how TaskWarrior sets the empty priority.

I'm now wondering if this worked all along and I just haven't been using it, in which case I'm going to feel very silly indeed!

[2017-02-21 16:24] carlitux opened #443 "Not working with v2.5.1"
When running freezes at:

[code]

[2017-02-21 16:43] carlitux opened #444 "Error encountered while creating task on v2.5.1"
[code]

[2017-02-21 17:32] ralphbean commented on #444
Can you try to reproduce this with https://github.com/ralphbean/taskw ?  The test suite there (with tox) should run the test against multiple taskwarrior versions.

Curious to know what the contents of ``**issue`` are in your traceback.

[2017-02-21 18:46] carlitux commented on #444
One task added with bugwarrior to file after running bugwarrior-pull

[code]

looks like it is not sending well the task

Run all tests with: **commands succeeded**

[2017-02-22 02:11] carlitux commented on #443
Working now after update

[2017-02-22 02:11] carlitux commented on #444
Working now after update packages, maybe something was missed

[2017-02-22 02:11] carlitux commented on #443
Working now after update

[2017-02-22 02:11] #443 closed

[2017-02-22 02:49] ryneeverett commented on #426
I had the same impression as @pjf. Apparently we don't need to make any change to the config parsing but perhaps just need to handle the `None` value.

[2017-02-22 02:56] ryneeverett commented on #441
See PR's #436, #437, and #438. There wasn't a canonical issue for this feature, so now this is it.

[2017-02-22 03:27] ryneeverett commented on #442
Sounds reasonable to me.

This isn't a blocker on working on this, but I'd like to suggest that it would be helpful to get more feedback on how people use gmail for task management. Your two suggested workflows sound right to me, but it's more reliable to ask how people use software than to try to guess. **If you're reading this and you use gmail for task management, tell us about it!**

This is g

[2017-02-22 03:41] pjf commented on #442
@ryneeverett : Agreeing with you on everything! And I can absolutely encourage reports on how people use gmail for task management. :)

It turns out I have a client who's supporting my learning to python, so there's a chance I'll be doing both! :)

[2017-02-22 04:04] pjf commented on #442
From a configuration standpoint, I think we definitely want our users to be able to specify their own query strings, as that lets them do things like `in:inbox label:read` so all *read* email can move into taskwarrior, but unread email gets ignored. Gmail queries can get [quite expressive](https://support.google.com/mail/answer/7190), so this is likely to give us a lot of coverage of workflows whe

[2017-02-22 04:17] ryneeverett commented on #442
Cool, so we may only need to integrate with the query API.

[2017-02-22 06:58] xeor commented on #282
Sorry for commenting on an old issue.. But when will this fix hit the main pip package? We are getting `1.4`, which doesnt contain this fix.

[2017-02-22 11:15] wookietreiber opened #445 "include/exclude repos wildcard"
Especially for GitHub and GitLab it would be nice if I could include and exclude repositories based on wildcards, e.g. to exclude everything from organization (GitHub) or group (GitLab):

    github.exclude_repos = someorg/*
    gitlab.exclude_repos = somegroup/*

[2017-02-23 01:20] ryneeverett commented on #282
Next release. See #339.

[2017-02-23 06:44] xeor commented on #339
ETA? :) Looking forward to the py3 support! For what I can see, the issues discussed above are more or less solved, except the man pages being a little unstructured.

https://github.com/ralphbean/bugwarrior/network - `develop` is leading the race... Will pip installing that give me what will become 2 soon?

[2017-02-23 14:25] emmajane commented on #442
Hello! I am reading this and I use Gmail for task management! I specifically use their keyboard shortcut to send an email to their "tasks".

My workflow currently looks like this:

- Triage Gmail inbox using `[` and `]` shortcuts (send to archive; move to next message in the inbox).
- If there is an email that requires follow-up, I first send the message to Gmail tasks using `shift+t`.

This actio

[2017-02-24 00:11] ryneeverett commented on #442
Thanks @emmajane. Somehow we overlooked google's actual task management system.

@pjf I'm going to add a section to your initial post to track the current status of this issue since this thread could become long.

[2017-02-24 00:23] ryneeverett commented on #339
@xeor Yes, `develop` has all the latest changes that will go into 2.0. In my opinion py3 support likely still has a number of bugs and it would be great if you could test it out and report (in separate issues). Otherwise you'll see the same bugs in the release.

[2017-02-24 03:39] djmitche opened #446 "[vague proposal] new structure allowing more arbitrary queries"
I find most of the "canned" queries in bugwarrior inadequate.  I don't necessarily want everything assigned to me, but maybe I do want a few things that aren't assigned to me.  Some I want to give different tags.  And so on.

For some purposes, I've managed to get this to work, but one of the major issues I've run into is that taskwarrior and/or bugzilla get very confused if two different sections

[2017-02-24 14:48] edigiacomo opened #447 "Duplicate issues stored to taskwarrior database."
bugwarrior version: 1.4.0

I have multiple github services (one for my personal repos and one for each organization in which I am involved). The issues of my personal repos are duplicated.

My `.bugwarriorrc`:
[code]

The first time that I run `bugwarrior-pull`, the issues of the repo `edigiacomo/django-statusboard` are repeated 3 times (one for each github service).

Playing with the code, I foun

[2017-02-25 01:18] ryneeverett commented on #447
Don't have time to look into this right now, but I would suggest trying our `develop` branch to see if we didn't (perhaps accidentally) fix this. I know we've made some changes to the way github issues are filtered since the last release.

[2017-02-25 01:31] ryneeverett commented on #446
It seems like there are a few different issues that could be addressed separately:

- Unique issue identifiers to avoid duplicates and corruption.
- Allow arbitrary task selection queries.
- Add hook for arbitrary task transforms.

The remainder of your proposal relating to duplicate identifiers I'm having trouble understanding. Why do we need to select "winners" if we have unique identifiers? Why

[2017-02-25 05:56] djmitche commented on #446
Two filters on the same service might identify the same issue. For example,
a bug matching the "assigned" filter, and also matching the filter for
review requests.

[2017-02-25 13:46] ryneeverett commented on #446
@djmitche Ok, but why would it matter which issue is picked as the "winner" if they are truly identical? Why would they have different tags/description?

[2017-02-25 19:09] djmitche commented on #446
Yeah, sorry, I should have waited to answer until I could provide more details.  Right now, I have this setup:

[code]

So, two different queries of the same bugzilla instance, applying different tags in this case.  You'll see that the second explicitly excludes assigned.  Without that exclusion, when a bug is both assigned to me and flagged for review, bugwarrior gets confused, I think because it

[2017-02-25 20:33] ryneeverett commented on #446
- I agree that the behaviour you're describing is a bug, though I don't understand how it's happening unless the remote bugzilla instance is reporting different `id`'s for the same issue. Perhaps this is a bug in bugzilla or perhaps there is a more appropriate field we could use as a UUID.
- Union of tags *should* be the current merge behavior.
- I'm pretty sure the description priority is based o

[2017-02-27 09:29] edigiacomo commented on #447
Thanks, with the `develop` branch and a proper configuration the duplication can be avoided in my specific case (thanks to the new filter implementation for `github.include_repos`).

**TL;DR**: I have wrote a fix to avoid that a new issue is added more than once, I'll send a PR.

I think that the problem still persists: when more than one Github service return the same new issue (e.g. the ones fro

[2017-02-28 03:03] djmitche opened #449 "When multiple services match the same bug, add the union of their tags"
Stealing an example from #447,
[code]

An issue which matches both [general] and [arpae_simc_github] should get tagged with `github personal arpae_simc_github` (the union of the tags for the two services).

The descriptions will also differ; some stable method of selecting among the descriptions will need to be employed.

[2017-02-28 03:05] djmitche commented on #446
Thanks for the pointer to #447.  I added #449 for the second bug (union of remote tags) and mentioned the first feature.

I think the latter two can be left for now -- perhaps it's just a personal preference of mine, and in any case the services I care about largely support it now.  So, I think this vague issue is now made specific in the other bugs and can be closed.

[2017-02-28 03:05] #446 closed

[2017-02-28 03:32] ryneeverett commented on #404
Looks like this was fixed in 8132b9658fad370f2cf358122942601c3882a47d.

[2017-02-28 03:32] #404 closed

[2017-02-28 08:13] Fongshway opened #450 "JIRA entry datetime displays as changed even when no updates are made"
First, thank you for supporting such an awesome tool! bugwarrior has done wonders to improve both my daily workflows as well as my general sanity when it comes to tracking all the tickets on my plate.

When using the develop branch (commit f71ebba55b58a53435b43e195ff15d04945f5a7c), I noticed that all my JIRA tickets always show up as having an updated entry datetime whenever I run bugwarrior-pull,

[2017-03-02 03:44] djmitche commented on #423
I've been thinking of adding support for arbitrary queries.  For example, [is:open review-requested:djmitche](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+review-requested%3Adjmitche) is exactly the set of tasks I'd like to sync, but in your case you might want to do some additional filtering or tweaking of the query.

[2017-03-10 18:11] #423 closed

[2017-03-11 14:20] ryneeverett commented on #360
Resolved via #360.

[2017-03-11 14:20] #360 closed

[2017-03-11 14:29] #441 closed

[2017-03-12 14:29] #347 closed

[2017-03-14 10:39] offlinehacker opened #455 "[Github]: Bugwarrior pulls all my issues from github, except only those from organization/repo"
## Description

I want only issues from GateHubNet user and only from microkit repo to be pulled, but bugwarrior pulls all issues from all projects.

## Version

Bugwarrior from git master.

## Config

[code]

## Output

[code]

Only issues 5, 7, 8, 13 should be pulled.

Update: I have tried with latest release, same result.

[2017-03-14 22:57] gdetrez commented on #455
Is it possible that the extra issues are all assigned to the user offlinehacker?
In that case, you can try `github.include_user_issues = False` to disable pulling assigned issues.

[2017-03-15 03:38] #336 closed

[2017-03-18 18:49] offlinehacker commented on #455
@gdetrez no, adding this flag did not do anything, no filtering seems to be applied, still i get all issues that are assigned to me on all groups.

[2017-03-20 17:16] jamur2 commented on #455
I ran into a similar issue with pull requests, and based on https://github.com/ralphbean/bugwarrior/pull/389 I updated `get_pulls` as well:

[code]

Not sure of the broader impacts, but it seemed to behave better for me (although if the issue is specifically issues and not PRs, weird that https://github.com/ralphbean/bugwarrior/pull/389 wouldn't have fixed it).

EDIT: On further inspection, this l

[2017-03-21 00:51] pjf opened #457 "Feature Request: Trello due-date support"
Trello currently allows a due date to be set on cards, but as far as I can tell, we don't import this date at all.

It would be lovely if we could import this directly into taskwarrior, or at the very least supply it as a UDA.

~ Paul

[2017-03-22 01:30] ralphbean commented on #369
What version of [python-bugzilla](https://pypi.python.org/pypi/python-bugzilla) are you using there?

[2017-03-22 01:33] ralphbean commented on #390
Seems like this was resolved by #395.

[2017-03-22 01:33] #390 closed

[2017-03-22 01:36] #374 closed

[2017-03-22 01:44] #350 closed

[2017-03-22 01:53] ralphbean commented on #391
This isn't worth the effort.

The API returns only the `key` of the epic, not the nice readable name.

We would have to make an additional query for every epic we found.

[2017-03-22 01:53] #391 closed

[2017-03-22 02:05] ralphbean commented on #432
Ah, the `description_length` field got documented in d8a82d2b83cc3ebe10c224c66d662cd400c20dc9 and is available [here](http://bugwarrior.readthedocs.io/en/latest/common_configuration.html#common-service-configuration-options).

[2017-03-22 02:05] #432 closed

[2017-03-24 22:43] gdetrez commented on #455
@offlinehacker just to make sure, you tried the `github.include_user_issues` on master (it wasn't available in the last release)?

[2017-03-27 20:43] akadaedalus opened #460 "Remove dependency on offtrac"
Is it possible to remove the dependency on the offtrac module?  I use bugwarrior exclusively for JIRA

[code]

I run a Gentoo distribution so I create my own build packages and I'd like to make as many backends optional as possible.  I am able to do this with the others, e.g. activecollab, jira, megaplan, phabricator, and versionone.

Great product, it makes the jira workflow much easier to organi

[2017-03-27 20:54] akadaedalus commented on #460
On a quick review, I see it in the install_requires section of setup.py but so is python-bugzilla and somehow I am able to run bugwarrior without that one.

[2017-03-27 23:17] ryneeverett commented on #460
This was already on my radar but I haven't gotten around to fixing it. I agree both offtrac and bugzilla should be made optional dependencies.

[2017-03-28 16:50] akadaedalus commented on #460
Understood, and I know it's mostly a trivial complaint. I just wanted to make sure it had some appropriate level of attention.  offtrac doesn't seem to be actively maintained.

My python comprehension level isn't up to snuff or I'd contribute a patch.

[2017-03-29 13:56] duanearnett opened #461 ""Error formatting message" with bugwarrior-pull and gitlab"
Getting the error below when trying to `bugwarrior-pull`.

`{u'message': u'401 Unauthorized'}"` Looks suspect/malformed to me. I installed using pip and everything has been working fine until a few weeks ago. I'm not too familiar with pip but is there an upgrade method for this package or should I install from source to be able to keep up with updates?

**Full output:**
[code]

Thanks for your hel

[2017-03-29 23:21] ryneeverett commented on #461
The exception was raised in twiggy, which was removed since the last release. Therefore I don't think this is an actionable issue.

Usually you'll want to pip install from pypi but a workaround for your problem is to install the development version: `pip install -U git+https://github.com/ralphbean/bugwarrior.git@develop#egg=bugwarrior`.

[2017-03-29 23:21] #461 closed

[2017-03-30 21:44] #460 closed

[2017-03-31 05:44] nblock commented on #369
I revisited bugwarrior today and I have ```python-bugzilla==2.1.0```.

Fortunately, bugwarrior works now as expected. Thanks for reminding me …

[2017-03-31 05:44] #369 closed

[2017-03-31 11:44] ssbarnea opened #463 "gerrithub support is broken: No JSON object could be decoded"
I tried to configure gerrithub using a configuration like below and got an error:
[code]
Error:
[code]

Also it worth mentioning the fact that gerrit support is not even available on the last release. To add to the confusion this is included in the current documentation.

Also if you do not mind, I think it would work updating the version from https://github.com/ralphbean/bugwarrior/blob/develop/s

[2017-04-05 16:25] nblock commented on #355
I revisited bugwarrior and it works for me.

[2017-04-05 16:25] #355 closed

[2017-04-05 17:47] ralphbean commented on #355
Thanks @nblock!

[2017-04-07 06:00] nblock opened #466 "Templates are loaded with service_prefix"
In the current devel branch (21f46eabf0cb53f21f3982424f39a78c4475d251) field templates are loaded with service_prefix: https://github.com/ralphbean/bugwarrior/blame/develop/bugwarrior/config.py#L287

According to https://bugwarrior.readthedocs.io/en/latest/common_configuration.html#field-templates field templates should be specified as 'FIELD_template' without a service prefix being used. As the f

[2017-04-08 00:34] ryneeverett commented on #466
I believe this is a documentation bug (though it was probably true when written). We've been moving toward consistently using the service prefix.

[2017-04-08 04:58] nblock commented on #466
OK, I'll take a look at it next week.

[2017-04-08 13:44] ryneeverett commented on #463
Yes, that is indeed unfortunate. However, short of maintaining separate docs for every release, the practical solution is to release often enough that the latest release doesn't lag too far behind the docs. I believe all of the maintainers wish we released more often.

I've had a good experience with [setuptools-scm](https://github.com/pypa/setuptools_scm) myself. However, updating the source code

[2017-04-10 17:29] #463 closed

[2017-04-12 01:19] duanearnett commented on #461
That worked @ryneeverett, thanks for your help!

[2017-04-14 00:10] ryneeverett commented on #466
Resolved via #469. Thanks!

[2017-04-14 00:10] #466 closed

[2017-04-22 08:48] ssbarnea opened #470 "bugwarrior-pull needs a silent/quiet mode for use with crontab"
Currently `bugwarrior-pull` always gives console output, even when it updates nothing.

We need a parameter, like `-q` to make it silent and to report only errors or changes. Ideally on quiet mode the updates should go to `stdout` and errors to `stderr` as this allows us to enable it in cronjobs and tune it to report changes or to report only failures.

[2017-04-22 16:46] ryneeverett commented on #470
I wonder if we couldn't achieve this by making better use of [logging levels](https://docs.python.org/3/library/logging.html#logging-levels). We'd probably need to add our own numeric constants in order to have more levels than ship with the logging module. We could set `UPDATE = 25`, change the "Adding task" line to the `UPDATE` level, and then add a `-q` argument that sets the logging level to `

[2017-04-23 19:24] Gasman2014 opened #471 "Fossil integration"
I believe that there was a working Fossil import module for Bugwarrior and at some point I had a functioning setup. Due to a system update I now have lost this and can't find what happened to it. It does not seem to be in the current bugwarrior tree. There is a rather confusing message at Issue #87

What is the situation regarding this module?

[2017-04-23 21:36] ryneeverett commented on #471
You must have been using @umonkey's module which has never been included in the official bugwarrior package. @mathstuf's critique of the module is still applicable and it would likely need further tweaking to meet the current bugwarrior service specification.

Closing as #87 is the canonical issue for tracking this feature. Feel free to cherry-pick the module from @FvD's repository, bring it up to

[2017-04-23 21:36] #471 closed

[2017-04-24 18:06] Gasman2014 commented on #471
Thank you. I will give it a go!

[2017-04-25 18:48] ssbarnea opened #472 "unable to configure bugzilla: [Errno 8] nodename nor servname provided, or not known"
I tried to configure RedHat bugzilla instance and I got a strange error instead:
[code]

And config line looks  like:
[code]

[2017-04-27 12:54] fmauch opened #473 "Show also tasks from Taiga, not only userstories"
Today I tried bugwarrior for Taiga and I was a little bit disappointed that it only showed one task, though I had more in my Taiga's dashboard. I figured out, there was only one userstory and multiple tasks (some of them were from other userstories though).

After a look into the source code, I got a q&d task import mechanism as well.

Is there an intention behind only going for userstories or wou

[2017-05-02 16:28] urzds opened #474 "CRITICAL:my-phabricator|Worker for [my-phabricator] failed: unsupported operand type(s) for +: 'dict' and 'list'"
Using Bugwarrior 1.4.0 with Phabricator 2017/week-12, I get:
[code]

[2017-05-03 19:28] erm3nda commented on #256
Docs still not showing the gitlab options

[2017-05-03 22:24] ryneeverett commented on #256
@erm3nda Not sure what you mean. I can see them.

[2017-05-04 04:10] erm3nda commented on #256
Sorry, it's on the docs, but not in the bugwarriorrc sample

[2017-05-13 13:56] cthulahoops commented on #442
This is my attempt at this:

https://github.com/cthulahoops/bugwarrior/tree/issue_442_add_gmail_service

Seems to be working fine. I just need to clean up and figure out the testing infrastructure and it should be ready to open a pull request.

(Adding google tasks should be no harder, but I haven't been using them.)

[2017-05-15 02:11] ryneeverett commented on #442
@cthulahoops Looking quite good at a cursory glance. Please open a pull request. You can call it a "[WIP]" if there are still TODO items but as far as I can tell it's ready for review.

[2017-05-18 17:04] jdcasey opened #475 "JIRA 403 using Kerberos authentication"
I'm seeing a strange issue here. I use Kerberos authentication to access the JIRA instance, but if this is the only authentication I've performed I get nothing but 403 status responses from JIRA. To work around this, I kill my krb ticket, then logout / login to JIRA using normal username / password access, telling it to remember me (establishing the cookie, I guess?). After that it works for some

[2017-05-24 18:11] djmitche opened #478 "1.5.0 release?"
There's been a lot since mid-march:
  https://github.com/ralphbean/bugwarrior/compare/1.4.0...develop
I'm partial to my API-key fix of course, but maybe it's time for 1.5.0?

[2017-05-25 15:01] ralphbean commented on #478
On it.

[2017-05-25 15:39] ralphbean commented on #478
https://pypi.python.org/pypi/bugwarrior/1.5.1

[2017-05-25 15:39] #478 closed

[2017-05-25 15:40] djmitche commented on #478
Thanks!!

[2017-05-25 15:40] ralphbean commented on #339
OK, I ended up cutting 1.5.1, available here:  https://pypi.python.org/pypi/bugwarrior/1.5.1

[2017-05-25 15:40] #339 closed

[2017-05-26 13:28] djmitche commented on #470
I have `[general] log.level = WARNING` in my config, and that suppresses all but failure-inducing output.  That works well enough, but a `-q` option that sets that configuration would be even better so when I run bugwarrior-pull on the command line it gives logging output.

[2017-05-26 13:32] djmitche opened #479 "Bugzilla service ignores project_template, description_template"
[code]
In 1.4.0, even with #238 applied, this produced `http://bugzil.la/1357753 Run releng talos on Ubuntu 16.04 moonshot-test3.test.releng.scl3.mozilla.com VM` with project `moz`.  In 1.5.1 it produces `(bw)Is#1357753 - Run releng talos on Ubuntu 16.04 mo .. https://bugzilla.mozilla.org/show_bug.cgi?id=1357753` with project `RelOps: Puppet`.

[2017-05-26 13:49] djmitche commented on #479
Ah, it looks like this was deliberate, in #469.

[2017-05-26 13:49] #479 closed

[2017-06-03 14:29] Plup-io opened #480 "Make an issue reappear after deletion"
Hi guys,

I'm looking for a way to recover after a misuse of bugwarrior with gitlab.com. I had trouble with the gilab connection so I removed it from the configuration in order to make things work with the others repositories. Then I solved the issue and restore my configuration but my ticket from gitlab.com are gone.

Is there a way to make them appaear again ?

[2017-06-06 07:02] ryneeverett commented on #480
Removing a service from your configuration should not cause tasks that have already been added from that service to disappear from your taskwarrior database.

[2017-06-07 03:18] pjf opened #481 "Newer bugwarriors unexpectedly ignore description_template (includes bisect)"
I have the following service definition fragment for Trello, which ensures the description field in TaskWarrior matches that of the Trello card itself. This has been working fine.

[code]

In more recent versions of bugwarrior, the `description_template` field gets ignored, and instead the default description starting with "(bw) ..." is used.

Thanks to the wonders of `git bisect`, I can say that

[2017-06-07 12:52] Plup-io commented on #480
My bad. Indeed they are here. I just lost myself in my tasks. Sorry.

[2017-06-07 12:52] #480 closed

[2017-06-15 00:55] paralin opened #484 "Include organization in project name"
It would be useful to have project names like so: `ralphbean.bugwarrior`, that way for an organization like `golang/protobuf` we would have `golang.Protobuf`, for Go we would have `golang.Go`, etc. Then you can classify every Go project with just the selector `project:golang` for example.

[2017-06-15 00:56] paralin opened #485 "Import GitHub milestones as tasks"
If we're using GitHub as a issue tracking system, it makes sense to treat milestones like epics.

Any issues assigned to the milestone would appear as sub-tasks (linked) to the milestone. This way, when working on work for a milestone, and not a specific issue, there's a corresponding issue.

[2017-06-18 17:20] ryneeverett commented on #484
I was unfamiliar with taskwarrior's "project hierarchy" support until I just now found it in the [examples](https://taskwarrior.org/docs/examples.html).

I'd like to see support for this feature across all our services. That doesn't preclude merging a pull request that only adds github support but it may require a more abstract implementation than your pull request provides (I haven't reviewed it

[2017-06-18 17:38] ryneeverett commented on #485
For example, if the milestone is cutting a release of software there might be certain tasks associated with the milestone that don't belong in specific issues (changing version numbers, updating changelogs, building/pushing packages to repositories, etc.). Is this the kind of use case you have in mind?

[2017-06-18 17:46] paralin commented on #485
No....

Have one issue that represents the milestone and link the issues assigned to that milestone to it as sub-issues blocking resolution of the milestone. Then Taskwarrior will represent the issue heirarchy correctly.

[2017-06-18 17:47] paralin commented on #485
The same kind of goes for Jira tasks that have blockers, not sure if you read that or not as of now

[2017-06-18 18:25] ryneeverett commented on #485
Can you be more specific about the representation you're after? It isn't clear to me what new view of the tasks this feature enables.

[2017-06-18 18:37] paralin commented on #485
Yes, Taskwarrior can handle dependencies between tasks, what is blocking what, etc. It shows it in the task command line output, uses it to figure out what you should do next and adjust urgency, and it's rendered heirarchically in taskwiki and other viewers.

[2017-06-18 20:09] ryneeverett commented on #485
Is the problem this solves that dependencies of milestone tasks cannot be easily viewed as part of the milestone?

[2017-06-18 20:33] paralin commented on #485
Rephrasing slightly; the issues that are part of a milestone are not represented as such. There is a one to many relationship between milestone and issue. Issues block the milestone.

This way you can also set a due date on a milestone and have the sub issues prioritized as such.

[2017-06-18 21:09] ryneeverett commented on #485
Gotcha. I'd be supportive of adding this as an optional feature.

[2017-06-18 21:22] ryneeverett opened #487 "Google Tasks Support"
The following is copied from [a comment](https://github.com/ralphbean/bugwarrior/issues/442#issuecomment-282004477) by @emmajane:

[2017-06-18 21:25] ryneeverett commented on #442
Initial issue by @pjf resolved by #477. Google tasks integration as suggested by @emmajane is spun off to #487.

[2017-06-18 21:25] #442 closed

[2017-06-19 18:34] lvsv commented on #481
I had the same issue with jira service.
Try to replace description_template with trello.description_template.

[2017-06-20 00:22] pjf commented on #481
@lvsv: Oooh! Just to check I understand the workaround correctly, are you saying this should work?

[code]

That's certainly consistent with the rest of the trello configuration. I'll give it a go! Thank you!

[2017-06-20 00:37] pjf commented on #481
@lvsv: OMG, that works. You've just made my life much, much easier! Thank you!

@ryneeverett : After @lvsv's comment and checking [the documentation](https://bugwarrior.readthedocs.io/en/latest/common_configuration.html#field-templates) it looks like field templates are now documented as *requiring* the service prefix, which means that while our behaviour has changed, this isn't a bug. It's just m

[2017-06-20 00:37] #481 closed

[2017-06-20 09:28] pjf opened #488 "`bugwarrior-pull --dry-run` fails with not-yet-authed gmail integration"
I'm just getting started with gmail integration. If I run `bugwarrior-pull`, it bounces me over to a Google Accounts sign-in after reading my credentials file. However if I run `bugwarrior-pull --dry-run` I get:

[code]

<s>I don't know if dry-runs will work after I've finished the oauth dance (testing that next), but in an unauthenticated state the error isn't what one would expect. :)</s>

`--dr

[2017-06-20 09:35] pjf commented on #488
I'm guessing desired behaviours with `--dry-run` could be either:

- Tell the user it's not possible to use `--dry-run` if we're not authed, or
- Do the auth (even saving it), but not updating/inserting any tasks.

I'd feel the second option would make the most sense, because it allows the user to play with different options before committing in any way.

More exciting, *it's working*. I now have

[2017-06-20 22:22] cthulahoops commented on #488
Yeah, I think the second would be better too. I don't think it should be too difficult. I hadn't tried dry-run. I'll have a look and see what's involved.

Very glad this is useful to you. :)

[2017-06-20 22:40] pjf commented on #488
@cthulahoops : It's *amazing*. Seriously, thank you *so* much.

[2017-06-21 00:44] pjf opened #490 "Description can't be a static field?"
Hello again fabulous bugwarrior devs!

I'm hitting a stumbling block with my workflow, which might just be me misunderstanding the documentation, but it looks like I can't make description into a static field. This is something I'd *really* love, as it means that while bugwarrior can set my task names to begin with, I can modify them to be more descriptive as needed. This is especially useful with

[2017-06-21 18:35] jeremiah opened #492 "'gmail' in [my_gmail] is not a valid service"
Hi,

I'm trying to authenticate to Gmail and have gone through the steps (I believe) but am having trouble with my config that I cannot seem to fix. For some reason bugwarrior-pull, with or without --dry-run, fails to see my configuration of Gmail as a valid service;

[code]

[2017-06-21 23:28] ryneeverett commented on #488
Also a vote for the second option. The point of the `--dry-run` flag is to do everything other than modify the taskwarrior database.

[2017-06-21 23:30] ryneeverett commented on #488
Resolved by #491.

[2017-06-21 23:30] #488 closed

[2017-06-21 23:40] ryneeverett commented on #490
The `issue_dict` ought to have a `description` key at that point in the code. I suspect this is a bug in the gmail service which is somehow failing to add a `description` field.

[2017-06-21 23:58] ryneeverett commented on #484
Reopening since I'd like to see this for all services, not just github.

[2017-06-22 00:02] ryneeverett commented on #492
Can you share a bugwarriorrc file that reproduces this error?

[2017-06-22 02:16] jeremiah commented on #492
[general]

# Here you define a comma separated list of targets.  Each of them must have a
# section below determining their properties, how to query them, etc.  The name
# is just a symbol, and doesn't have any functional importance.
targets = my_gmail

# Setting this to true will shorten links with http://da.gd/
shorten = True

# If unspecified, the default taskwarrior config will be used.
#taskr

[2017-06-22 22:46] ryneeverett commented on #492
Are you using the latest `develop` branch version of bugwarrior from github?

[2017-06-24 09:39] cthulahoops commented on #490
I'm struggling to reproduce this. It seems to just work for me.

I've tried adding the ```description``` to ```static_fields``` before and after fetching the issues initially, with and without a description template.

```GmailService``` doesn't add a description itself, it relies on either ```Issue.refine_record``` to add it either from a template or by calling ```get_default_description```. The o

[2017-06-24 09:48] cthulahoops commented on #490
Hang on!

[code]

There's a leading space: the key being accessed is ```" description"``` not ```"description"```. How did that space even get there?

If I set

[code]

then: ```KeyError: u' description'```

[code]

Splits on ',' not ', '.

Would this be better as ```re.split(r', *')```?

[2017-06-24 22:40] ryneeverett commented on #490
Good eye @cthulahoops and 👍 to your proposal. I'd call this a usability bug.

[2017-06-25 13:28] ryneeverett commented on #490
Resolved by #496.

[2017-06-25 13:28] #490 closed

[2017-06-30 00:17] jeremiah commented on #492
Nope. I downloaded 8074e61.

Should I use the 'develop' branch?

[2017-06-30 02:00] ryneeverett commented on #492
Yes, you should use the develop branch. Sorry for the confusion.

The docs are built off of the develop branch so they often include features that haven't made it into master or the latest release. This is because nobody has proposed or implemented a better solution.

[2017-06-30 02:00] #492 closed

[2017-07-10 16:47] ssbarnea commented on #427
Can we please fix this? Banning current version of future just because it was messed by the Fedora repackaging creates problems for all other users.

If is broken on Fedora, add a requirement marker for Fedora only but not for all users.

[2017-07-19 15:51] swills opened #500 "Reviews (Differential) support for Phabricator"
For the Phabricator service support, it would be nice to support putting in items from Differential (code reviews) as well as the existing Maniphest (bugs) support. I have a number of code reviews that I need to look at and having those show up in Taskwarrior via Bugwarrior would be really helpful.

[2017-07-22 11:24] ryneeverett commented on #473
Resolved via #499.

[2017-07-22 11:24] #473 closed

[2017-07-31 13:25] wookietreiber opened #506 "[service/gitlab] tasks are completed and re-added when labels/tags change"
I discovered that task are marked as complete and re-added when tags change. You can see this here with the three **backlog** to **backlog lhf** tasks (the green ones):

![bugwarrior-complete-and-add-again](https://user-images.githubusercontent.com/827088/28779559-e257897a-7603-11e7-917b-6b4448399edf.png)

My expectation was, that the original tasks would be modified in place. Is that possible wit

[2017-08-23 11:43] toddnni opened #507 "ServiceNow support"
Has anyone started working on ServiceNow (https://www.servicenow.com/) support?

There seems to be examples in wiki, but haven't tried them yet
<http://wiki.servicenow.com/index.php?title=Table_API_Python_Examples>

If I get frustrated I could try to work on it,

[2017-09-01 20:06] valentinrusu-movidius opened #508 "[bugzilla] Bugwarrior insists using https even if URI is not https"
Our bugzilla server is located in a restricted LAN so no need for https.

However, Bugwarrior still wants to connect to port 443 and it fails:

[code]

[2017-09-04 15:51] urzds commented on #474
Fixed in 1.5.1.

[2017-09-04 15:51] #474 closed

[2017-09-04 16:05] ghost opened #509 "Automatically set dependencies for Phabricator"
Taskwarrior supports [dependencies](https://taskwarrior.org/docs/best-practices.html), on the command line using the `depends:${TASK_ID}` flag. It would be nice if this would be automatically set for tasks synced from Phabricator.

This allows to later filter tasks based on their [virtual tags](https://taskwarrior.org/docs/tags.html), e.g. "blocked" (another task needs to be done first), "unblocke

[2017-09-04 16:06] ghost opened #510 "Automatically set due date for Phabricator"
It would be nice if Bugwarrior would automatically synchronise the due date with what it finds in Phabricator.

[2017-09-04 16:10] ghost opened #511 "Don't include Phabricator URL in task description"
It would be nice if the Phabricator URL was not by default included in the task description, since it takes up precious space and makes the `task list` much less usable. The URL can easily be inspected using `task ${ID}`, if desired.

[2017-09-04 20:20] pjf commented on #511
As a user I've found bugwarrior tends to be quite verbose with all its default task descriptions, so I've ended up configuring pretty much all of them.

While I've not used Phabricator before, I've had success with the following (each in their relevant parts of the config file):

[code]

I'm not familiar with the Phabricator UDAs (although `task uda` likely is), but I imagine you could use them th

[2017-09-04 22:52] Tzrlk opened #512 "[jira] Support for Jira v7"
When attempting to connect to a jira v7 instance, I get the following error:

[code]

This error may or may not be related, but the docs state support for jira 4 and 5, so I'm assuming the error is due to lack of support for 7.

It's either that or a Windows issue.

[2017-09-05 00:40] ryneeverett commented on #511
This is not unique to phabricator. The relevant proposal would be changing the default description_template globally across all services. I'm not sure how much support such a proposal would get.

[2017-09-05 00:43] ryneeverett commented on #512
This appears to be a [taskw](https://github.com/ralphbean/taskw) issue.

[2017-09-05 10:42] urzds commented on #511
Thanks for that hint, @pjf! That would be an acceptable workaround.

I now set:
[code]

Is it possible to make Bugwarrior resync all tasks, so the description gets updated according to these new settings?

[2017-09-05 10:44] urzds commented on #500
This actually works already:
[code]

The description of these tasks is set to `(bw)PR#D…`.

[2017-09-05 18:17] pjf commented on #511
Alas I'm not sure on this, but I'd love to know too. :)

[2017-09-06 14:49] tjaartvdwalt opened #513 "bugwarrior-pull for a specific target"
I would like to propose a new command line option to `bugwarrior-pull` to override the `targets` setting in `bugwarriorrc`

Here is my use case.

I have 2 targets `bugwarriorrc`

[code]

`bitbucket` takes 20 seconds to complete but `gitlab` takes around 300 seconds (maybe this is the real problem). I just added a new bug to `bitbucket`, and want to start using it in a task.

It would be very usefu

[2017-09-07 02:28] ryneeverett commented on #513
Not a bad idea but you might find your use case better served by the `--flavor` option. For instance you could have a `quick` flavor.

[2017-09-07 19:30] tjaartvdwalt commented on #513
Thanks for the reply. `--flavor` can do exactly what I need :)

[2017-09-07 19:30] #513 closed

[2017-09-12 13:37] michaelgold commented on #492
I'm getting the same issue (even after compiling the latest development version). Is the gmail service code in the latest development branch?

[2017-09-12 23:27] ryneeverett commented on #492
@michaelgold Yes, the gmail service is in the latest `develop` branch: https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/services/gmail.py

[2017-09-16 17:32] doronbehar opened #516 "Feqture Request: Adding tasks according to an arbitrary list of issues' URL in `bugwarriorrc`"
Sometimes there are issues in projects I generally don't make contributions to, yet I would like to be the one who will fix them. It would be great if one could make `bugwarrior-pull` read a list of urls that points to issues one would like to add to his/her task list. Additionally if he/she fixes those issues in a PR and the PR is accepted, the issues will be marked as completed.

What do you thi

[2017-10-02 14:30] cemsbr commented on #444
I'm also having this issue. It seems that bugwarrior-pull fails to add cemsbr/yala#15.

[code]

[2017-10-06 04:49] cemsbr commented on #444
`pip install -U bugwarrior` solved it now!

More info about the bug: it's not a specific issue, but any issue fails for me. However, `task list` shows it and the error happens again for the second issue and so on.

[2017-10-10 01:07] #444 closed

[2017-10-17 20:50] cemsbr opened #518 "add_tags not working"
After pulling issues, `task +open_source` has no matches.

[2017-10-26 08:06] irl commented on #518
Did you check that you are using the correct form for this?

For example:

```add_tags = open_source```

should now be (for github):

```github.add_tags = open_source```

[2017-10-26 13:25] korayucar opened #519 "on premise gitlab connection fails possibly due to self signed certificate"
I get a "connection reset by peer". Even though I provide `gitlab.verify_ssl = False` configuration, I suspect a self signed certificate is the reason. What can I do to provide more diagnostic info?

Here is the output of `bugwarrior-pull`

[code]

and my configuration

[code]

[2017-11-02 11:35] AnotherKamila opened #520 "GitHub import broken?"
Hi,

I tried to set up GitHub import according to the [documentation](https://bugwarrior.readthedocs.io/en/latest/services/github.html), but bugwarrior-pull fails. The error output:

[code]

This sounds to me like maybe GitHub API changed or something?

For reference, here is my config file:

[code]

[2017-11-02 11:38] AnotherKamila commented on #520
Well, I just `curl`ed the GitHub API and it seems to me that it does look the way it should. I have no idea what's happening here.

[2017-11-04 16:20] cemsbr commented on #518
I'll try adding the github prefix and reopen if the problem persists. Thank you.

[2017-11-04 16:20] #518 closed

[2017-11-05 18:22] rndmh3ro opened #521 "Redmine pull close task if redmine-user unassigned"
Hi! I just found out about this project and I'm liking it so far!
Here's my problem:

I'm importing issues from Redmine that are assigned to me. This works great.
If I assign an issue to another person in redmine and run `bugwarrior-pull`, the corresponding task gets closed.
Then if I get the same issue assigned to me again and then run `bugwarrior-pull` a new task is created. The old task is not

[2017-11-14 02:19] Tzrlk opened #525 "Example config for jira.add_tags format is misleading"
The documentation for [common service configuration options][1] states that the `SERVICE.add_tags` option is a comma-separated list, but the [example configuration][2] uses a space-separated list. If this was intentional, I'd suggest adding a csv format usage somewhere else, or chucking a comment in there. Tags with spaces in them are a bitch to deal with in taskwarrior.

from http://bugwarrior.re

[2017-11-14 02:28] Tzrlk opened #526 "More extensive documentation for bugwarrior-vault usage required"
After getting `bugwarrior-vault` working after a lot of fiddling, the following points should be covered in the documentation.
* The `-i` or `--interactive` option must be used for each invocation of `bugwarrior-pull` for `@oracle:ask_pass`. If using `@oracle:use_keychain`, this only needs to be done once.
* To use the keychain at all, the python package `bugwarrior[keychain]` needs to be installe

[2017-11-18 18:25] djmitche opened #527 "Infinite updates for a github issue"
https://github.com/taskcluster/json-e/issues/200 seems to be changing every time bugwarrior runs.

From pending.data:
[code]
and the undo log looks like lots of

[code]

bugwarrior-pull DEBUG log
[code]

Does anyhing

[2017-11-18 21:00] ryneeverett commented on #527
My first thought would be that maybe the raw json in the description is uncovering a bug in one of the several json serialization/deserialization process. We're querying github for json and ultimately taskwarrior stores the data in json.

[2017-11-22 23:58] djmitche commented on #527
Yup, in fact, the issue is the encoded `\n` in the JSON.  Something is double-applying evaluation of `\` escapes.

[2017-11-22 23:58] djmitche commented on #527
[code]
 {
   "code": "InputValidationError",
-  "message": "
-Schema Validation Failed!
-Rejecting Schema: http://schemas.taskcluster.net/queue/v1/create-task-request.json#
-Errors:
-  * data.created should match format \"date-time\"
-  * data.deadline should match format \"date-time\"
-  * data.expires should match format \"date-time\"
-----
-method:     createTask
-errorCode:  InputValidationErr

[2017-11-23 00:14] djmitche commented on #527
Looking at taskw's serialization / deserialization, I see:

serialized: `u'STR:\n - be on halloween day off\n - submit taskcluster tasks\n\nExpected:\n Works.\n\nActual:\n Fails with &dquot;InputValidationError&dquot;\n\nThis is the error:\n```\n{\n  &dquot;code&dquot;: &dquot;InputValidationError&dquot;,\n  &dquot;message&dquot;: &dquot;\\nSchema Validation Failed!\\nRejecting Schema: ht'`...

un

[2017-11-23 00:19] djmitche commented on #527
The modification calculated by `encode_task_experimental` is `u'githubbody:"STR:\n - be on halloween day off\n - submit taskcluster tasks\n\nExpected:\n Works.\n\nActual:\n Fails with &dquot;InputValidationError&dquot;\n\nThis is the error:\n```\n{\n  &dquot;code&dquot;: &dquot;InputValidationError&dquot;,\n  &dquot;message&dquot;: &dquot;\\nSchema Validation Failed!\\nRejecting Schema'...` so sti

[2017-11-23 00:21] djmitche commented on #527
Here's what the generated `task` command looks like: `['task', 'rc:/home/dustin/.taskrc', 'rc.uda.githubcreatedon.type=date', 'rc.uda.githubcreatedon.label="Github Created"', 'rc.uda.githubtitle.type=string', 'rc.uda.githubtitle.label="Github Title"', 'rc.uda.githubnumber.type=numeric', 'rc.uda.githubnumber.label="Github Issue/PR #"', 'rc.uda.githubbody.type=string', 'rc.uda.githubbody.label="Gith

[2017-11-24 13:50] djmitche commented on #527
Here's what that looks like in pending.data:
`githubbody:"STR:\n - be on halloween day off\n - submit taskcluster tasks\n\nExpected:\n Works.\n\nActual:\n Fails with &dquot;InputValidationError&dquot;\n\nThis is the error:\n```\n{\n  &dquot;code&dquot;: &dquot;InputValidationError&dquot;,\n  &dquot;message&dquot;: &dquot;\nSchema Validation Failed!\nRejecting Schema:` -- note, the `\\n` have turne

[2017-11-24 14:10] djmitche commented on #527
Ah, I see what's happening.  When you feed a literal newline to `task modify`, taskwarrior escapes it to `\n`.  When you pass it `\``\n`, it does nothing -- it *should* convert the `\` to `\\`.  The strings two comments above are python strings, so `\n` is a literal newline.

[code]

So this is a Taskwarrior bug, but I suspect taskw should work around it.  @ryneeverett what do you think?

[2017-11-27 20:43] jottr opened #529 "Can't install bugwarrior[keyring] on OSX"
Installing keyring requires `dbus`.
Please add a note to doc in case it is impossible to install due to this on Mac OS.

[code]

[code]

[2017-11-29 02:34] ryneeverett commented on #529
Really this entire section needs to be brought up to date: https://bugwarrior.readthedocs.io/en/latest/getting.html#installing-from-the-python-package-index

Thant said, I'm not confident that it's true that dbus-python cannot be installed on Mac. A quick search for your error suggests that it can occur on linux too and a quick look at dbus-python's [setup.py](https://github.com/posborne/dbus-pyth

[2017-11-29 20:53] jottr commented on #529
This seems to involve a bunch of install steps: https://jetforme.org/2015/03/using-dbus-on-os-x-yosemite
I wonder if dbus should be a hard dependency, since It's not really used on any other platform except linux.

[2017-11-29 21:51] coddingtonbear commented on #529
Sort of surprised about this conversation -- I'm definitely under the impression that `dbus` is only required for the Linux keyring.

[2017-11-29 21:57] coddingtonbear commented on #529
Ahh; the problem is https://github.com/ralphbean/bugwarrior/blob/develop/setup.py#L44 -- you definitely don't actually need `dbus-python` unless you're on Linux, but Bugwarrior's `setup.py` instructs otherwise when you try to install the `keyring` extras.  I think the problem might be that `keyring` might not automatically install `dbus-python` sometimes, and we're trying to pave that over in Bugw

[2017-11-30 00:44] #529 closed

[2017-11-30 00:45] ryneeverett commented on #529
Quite right @coddingtonbear. I removed the requirement.

[2017-12-06 23:28] simhnna opened #532 "Apparently Python 3 is supported, docs say Python 2.7 is required"
The [docs](https://bugwarrior.readthedocs.io/en/latest/getting.html) say that Python 2.7 is required, however travis also has Python3 builds...

[2017-12-13 09:14] pjf opened #533 "Preserve existing environments when calling `task`"
As described in #531, we currently run taskwarrior with a *very* restricted environment. It's confirmed in those discussions that this is a bug, and we only really want to modify a couple of task-related variables and pass the rest through as-is.

This ticket exists as I've got a new PR coming up in the next hour, and I like to have tickets that PRs can close. :)

[2017-12-14 20:21] mikem23 opened #535 "Error when bugzilla does not report flags"
Lately, I've been getting this error when syncing from bugzilla:

[code]

There's been no change in the bugwarrior code I'm running, so either something changed in python-bugzilla, or with the particular bz instance I am connecting to (rh).

[2017-12-14 20:22] mikem23 commented on #535
I have a workaround, which I will PR shortly

[2017-12-17 03:04] ryneeverett commented on #535
Resolved via #536.

[2017-12-17 03:04] #535 closed

[2018-01-02 22:59] Mte90 opened #537 "BitBucket issue on OAuth login"
In my bugwarrior file:

[code]

If I try to login I get:
[code]

Seems that error happen because the OAuth data are not valid but I generated them. If I use the auth with user/pass there are no problem but I cannot get the assigned tickets on my account.
So I tried with OAuth without any success.

[2018-01-02 23:06] Mte90 opened #538 "GitLab issue on assigned task"
In my bugwarrior:
[code]
I have different tasks on private repos on gitlab but with access I cannot get only the ones assigned to me.
I am missing something? looking at the code seems that `only_if_assigned` is not used for gitlab.

[2018-01-02 23:53] ryneeverett commented on #537
If you can debug I'd inspect that `response` object. It likely errored due to misconfiguration or a bitbucket API change.

Regardless, we should improve our logging to dump response data when non-200 responses are received.

[2018-01-02 23:54] Mte90 commented on #537
I done a little bit of debugging, the body say about errors on username/password.

[2018-01-08 13:42] jvehent opened #540 "Working around github abuse rate limits"
While trying to use bugwarrior to pull issues and PRs from a handful of organisations, I continuously run into this error:

`OSError: Non-200 status code 403; 'https://api.github.com/repos/SOMEORG/SOMEREPO/issues/282/comments?per_page=100'; '{\n  "documentation_url": "https://developer.github.com/v3/#abuse-rate-limits",\n  "message": "You have triggered an abuse detection mechanism. Please wait a

[2018-01-19 11:59] doronbehar opened #544 "service trac failes with: initial_value must be unicoe or None, not str"
[code]

[2018-01-24 17:08] AnotherKamila commented on #520
My apologies, it was a misconfiguration on my side: I had a comment on the username line, so it looked like `github.username = anotherkamila  # comment`, which of course ended up in the URL, to which github returned something weird that caused this very confusing error in bugwarrior.

[2018-01-24 17:08] #520 closed

[2018-01-27 21:13] ryneeverett commented on #520
Ah, so the github API was returning an error and bugwarrior broke down at parsing the response? If you could share the response you were getting (status code, json, etc.) we could probably catch a broad class of configuration errors and raise a more helpful exception in cases like this.

[2018-01-29 14:33] ssoriche commented on #220
I've been having this issue recently too. I've discovered that the `project_template` attribute appears to be applied to every stanza that's using GitHub. Either I end up with database errors for duplicate entries, or tasks are switching between projects. As soon as I remove the `project_template` configuration, the tasks are assigned to the correct repo, and there are no errors.

[2018-02-06 13:05] wookietreiber opened #545 "allow user-defined matchers to match tasks against multiple fields/UDAs"
When using e.g. GitHub or GitLab services, I would like to match on a UDA. For both of these services, there are UDAs, e.g. **Github URL** or **Gitlab URL**, one could use to define custom task matchers.

I propose to extend the issue matching framework to include user-defined fields to match on, e.g. I would define my matcher to match not only on description (because that may change) but on some

[2018-02-20 22:08] djmitche opened #546 "Gmail integration docs not rendered correctly"
This should be relatively easy to fix, for someone who knows rST:

![screenshot-2018-2-20 gmail bugwarrior 0 8 0 documentation](https://user-images.githubusercontent.com/28673/36451946-ad3344f2-1660-11e8-8658-e343b2d2bce5.png)

[2018-02-20 22:22] djmitche opened #547 "gmail integration setup does not work on a non-desktop"
[code]

but that option is not accepted by `bugwarrior-pull`:

[code]

[2018-02-25 17:55] ryneeverett commented on #545
When you say "match", you mean selection of the issue to be included as a task, right?

For github, it doesn't seem like this would enable any more fine-grained control than provided by `github.query`, but I can see where it would provide a more consistent API across services.

[2018-02-25 18:59] wookietreiber commented on #545
Sorry, *match* is a bit ambiguous. I do not mean filtering/selecting. I mean the way the way tasks are identified to be the same during the `bugwarrior-pull` synchronization.

[2018-02-25 21:46] ryneeverett commented on #545
I don't see a use case for configuration because it seems like we can and do disambiguate tasks based on the `UNIQUE_KEY` values defined for each service. The `legacy_matching` based on description is indeed faulty and now disabled by default.

[2018-02-26 08:58] wookietreiber commented on #545
I wasn't aware of `UNIQUE_KEY`, thanks for letting me know.

[2018-03-01 13:55] ckeschnat commented on #512
I am using bugwarrior with Jira v7.4.4#74006 without issues (I did not specify the version in bugwarriorrc). So it might indeed be a windows issue.

[2018-03-08 08:03] oemunoz opened #548 "gitlab integration stop to work after gitlab update"
Hi,

bugwarrior stop to get the latest issues, after gitlab update to:

GitLab 10.5.2
GitLab Shell 6.0.3
GitLab Workhorse v3.6.0
GitLab API v4
Ruby 2.3.6p384
Rails 4.2.10
postgresql 9.6.5

[code]

tnks

[2018-03-08 08:16] oemunoz commented on #548
Maybe this can be useful:

[code]

[2018-03-08 12:30] oemunoz commented on #548
Hi,
Is not the gitlab, this is some problem with the local and taskd server database,

Reset of local and server (taskd) data will work, but may be careful with the local task.

If you use "task sync" (with a taskd server) again you will have doble task and will be fail again.

[code]

I think this born from multiple issues like this.
[code]
I will to use only one "gitlab" peer local database impl

[2018-03-08 20:34] #548 closed

[2018-03-18 18:52] #545 closed

[2018-03-18 18:54] ryneeverett commented on #512
Closing as this does not seem to be a bug in bugwarrior itself. Feel free to continue discussion though.

[2018-03-18 18:54] #512 closed

[2018-03-30 06:31] swalladge commented on #457
[ogarcia/trellowarrior](https://github.com/ogarcia/trellowarrior) supports syncing dates, albeit with [issues](https://github.com/ogarcia/trellowarrior/issues/7). Perhaps worth a look if implementing in bugwarrior.

[2018-03-30 13:07] Mte90 commented on #538
any updates for it?
I cannot use taskwarrior without a fix :-(

[2018-04-03 22:57] towo opened #550 "gitlab: toggle to ignore archived projects"
A very simple feature request: at the moment, archived projects in GitLab still generate issues on `bugwarrior-pull`. One could of course just exclude them explicitly, but having a bit of dynamic by just ignoring them by archive flag would be nicer.

`archived` is an attribute in the API project json blob, so filtering on that shouldn't be too hard. (It can also be done by passing e.g. archived=Fa

[2018-04-04 15:03] abderrahim opened #551 "Pulling from gitlab is very slow"
I've set it with
[code]
and it takes a very long time
[code]
to get only 3 and 8 todo items respectively (I have no assigned issue).

Looking at the code, it makes a request for every repository (I'm in three groups with about 50 repositories in total on gitlab.com). This explains the delay.

I don't know if this is a limitation of the v3 api, but looking at the documentation, it is possible (with

[2018-04-04 15:05] abderrahim opened #552 "deletes and recreates todos every run (gitlab.com)"
Every time I run bugwarrior-pull, it marks my todos as completed and creates new ones.

Curiously, this only happens with gitlab.com but not with gitlab.gnome.org.

[2018-04-05 08:48] towo commented on #412
Bump, just running into this myself. Setting `bugzilla.advanced = true` (or `yes`) doesn't seem to be helping.

[2018-04-05 09:41] towo commented on #412
After dropping some debugging into `python-bugzilla` which I'm currently working on anyway:

[code]

So it appears the `query_format` isn't the only issue at play here, at least no primarily. (I've seen some code to remove query_format if it's the *only* parameter, maybe that triggers for some reason)

[2018-04-05 10:07] towo commented on #412
From what I'm currently sort of finding out, it may be that actually running any significant queries of the XMLRPC API may just be a bugzilla.redhat.com thing. Which would kind of suck.

[2018-04-16 22:07] towo opened #556 "bugzilla: Support for non-RH Bugzillas, RFC"
Cheers,

this issue is a bit more of a request for comments on how I should go ahead with my future pull request.

I'm currently working an [implementing support for non-RedHat Bugzillas](https://github.com/b1-systems/bugwarrior/tree/feature/bugzilla-noredhat).

The changes I needed to implement for that aren't big, but they do break compatibility, after a fashion:

* I adjusted (or rather impleme

[2018-04-17 00:46] ryneeverett commented on #556
The query format seems to be the most significant incompatibility. Is that a quirk of the redhat implementation? If redhat's implementation just has some peculiarities which are built into our bugzilla service then you might go with the automatic approach `if bugzilla.base_uri == "bugzilla.redhat.com"`.

[2018-04-17 10:38] towo commented on #556
That's a thing that I've not sufficiently found out about yet. I only hear
references to "Red Hat patches" at rare hits on the query thing, and no
reference in the BZ source I'm looking at.

I'll update when I can definitely say it's specific to the Red Hat one or
not.

On Tue, Apr 17, 2018, 02:46 ryneeverett <notifications@github.com> wrote:

[2018-04-18 02:04] #533 closed

[2018-04-20 16:37] abderrahim commented on #552
I tried to investigate this, and it seems to be caused by taskwarrior itself. The when the gitlabnumber field is big, there are no matches. For instance 9844164 triggers this behaviour but 4819 doesn't. It looks like an overflow.

Wrestling with it further, I got this error

Which confirms the todo numbers on gitlab grew larger than the numeric type of taskwarrior. (And there is a bug in taskwarri

[2018-05-08 07:45] ghost opened #559 "Automatically set projects for Phabricator"
It would be nice if Bugwarrior would automatically synchronise the projects of a task with what it finds in Phabricator.

[2018-05-10 02:39] #450 closed

[2018-05-11 13:56] tito commented on #304
I got the same issue when trying to put kivy/kivy in it :-(

[code]

[2018-05-13 11:42] ad-si opened #568 "Jinja templates not working properly"
I tried to use this template:

[code]

but get following error:

[code]

[2018-05-13 12:38] ad-si opened #569 "Set entry to githubcreatedon and modified to githubupdatedat"
I was a little baffled that this is not the default and even more that there is no setting to enforce it.
Or am I missing something?

As a workaround I can run `task +github modify entry:githubcreatedon`,
but this would get overwritten when I pull changed / new issues.

[2018-05-15 23:30] genofire opened #573 "gitea: support gitea (and maybe gogs)"
See swagger comments:
- https://github.com/go-gitea/gitea/blob/master/routers/api/v1/repo/issue.go
- https://github.com/go-gitea/gitea/blob/master/routers/api/v1/repo/pull.go

[2018-05-18 10:02] urzds commented on #559
This is actually a bug, not a feature proposal. The cause was that the `projects` list was never populated, and hence the section name / target was always used.

#566 implicitly fixes that for the most common cases, if `include_sub_projects` is enabled, since it will populate `projects` with the projects bugwarrior is subscribed to via `project_phids`. To fix the case where `project_phids` is not

[2018-05-18 10:05] urzds commented on #538
In my experience `gitlab.only_if_assigned = True` does work. Could you please elaborate further what the actual problem is? I am not sure I fully understand what bug you are facing.

[2018-05-18 10:07] urzds commented on #500
I propose to close this issue.

[2018-05-18 10:10] ghost opened #574 "GitLab issue label -> Taskwarrior task priority mapping support"
Currently, the Bugwarrior GitLab service [does not support to set priorities based on the issue](https://github.com/ralphbean/bugwarrior/blob/develop/bugwarrior/services/gitlab.py#L135-L137). It would be nice if GitLab issue labels could be mapped to Taskwarrior task priorities.

[2018-05-18 10:16] ghost opened #575 "GitLab labels are mentioned as numbers in task description"
In the description of tasks imported from GitLab using bugwarrior, I see change log lines like `added ~57 ~64 and removed ~55 labels`. I would prefer if the actual label text would be displayed instead.

[2018-05-18 14:34] Mte90 commented on #538
If i put `only_if_assigned` from gitlab is empty, if I remove show all my ticket opened also where I am already assigned.

[2018-05-19 07:40] devurandom commented on #538
I'll try to recap:
* You do not have any of `gitlab.include_repos`, `gitlab.include_regex`, `gitlab.exclude_repos`, `gitlab.exclude_regex` set?
* When you clear the taskwarrior DB and set `gitlab.only_if_assigned = Mte90` in the `[gitlab]` section of your bugwarrior config, no tasks will be added by `bugwarrior-pull --dry-run`?
* When you clear the taskwarrior DB and remove `gitlab.only_if_assigne

[2018-05-20 02:35] ryneeverett commented on #574
I don't think any services currently provide dynamic priority assignment. Given that [priority is being phased out in favor of UDA's](https://taskwarrior.org/docs/priority.html) I wouldn't bother. You can set `gitlab.import_labels_as_tags = True` and then adjust the coefficients of your tags as needed.

[2018-05-20 03:07] ryneeverett commented on #500
Further evidence that this is already supported just came in #576.

[2018-05-20 03:07] #500 closed

[2018-05-20 09:38] devurandom commented on #574
Thanks for the referral to the priority attribute being deprecated in favour of UDAs. This will make many things much easier. I propose to close this issue.

[2018-05-20 16:44] Mte90 commented on #538
Yes everything right.
I am trying now with:
[code]

And take all the tickets that are not assigned to me but with `only_if_assigned` works everything. Without `gitlabassignee` isworking everything, seems that reading the code confused me!

[2018-05-20 16:44] #538 closed

[2018-05-20 16:57] Mte90 commented on #537
I got it bitbucket for login doesn't want the nickname but the email, and now is working!

[2018-05-20 16:57] #537 closed

[2018-05-22 08:51] urzds commented on #575
I believe this is actually a bug, not just a missing feature.

[2018-05-22 08:53] ghost opened #577 "GitLab: Support adding issues a user participates in"
It would be nice if the GitLab service would support adding issues a certain user participates in (e.g. they were mentioned / CCed), in addition to the current "author" and "assignee" criteria.

[2018-05-24 12:39] wookietreiber opened #578 "various services: use created at as entered date"
The title says it all: I would like to use the `created_at` fields from e.g. the GitHub API or the GitLab API as the entered date in taskwarrior (probably other services have such a field, too).

This may be optional, i.e. there could be an option to let the user choose:

1.  entered date (tw) is date bw entered the issue in tw (current behavior)
2.  entered date (tw) is date the issue was created